{{$d := .Get 0 }}
{{$bg := .Get 1 }}

{{if eq $bg "bg"}}

    <section class="columns m-1 p-1">
        {{if eq $d "left"}}
            <div class="column is-half theme-pattern  p-3">
                <div class="has-background-white p-5"> 
                    {{.Inner | markdownify }}
                </div>  
            </div>
            <div class="column is-half"> </div>
        {{else if eq $d "right"}}
            <div class="column is-half"> </div>
            <div class="column is-half theme-pattern p-3"> 
                <div class="has-background-white p-5"> 
                    {{.Inner | markdownify }}
                </div>    
            </div>
        {{end}}
    </section>

{{else}}

<section class="columns m-3 p-3">
    {{if eq $d "left"}}
        <div class="column is-half"> {{.Inner | markdownify }}</div>
        <div class="column is-half"> </div>
    {{else if eq $d "right"}}
        <div class="column is-half"> </div>
        <div class="column is-half "> {{.Inner | markdownify }}</div>
    {{end}}
</section>
{{end}}