aiohttp
aiosignal
altgraph @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/altgraph-0.17.2-py2.py3-none-any.whl
anyio
appnope
asttokens
async-timeout
attrs
backcall
beautifulsoup4
blobfile
bs4
certifi
charset-normalizer
click
comm
contourpy
cycler
debugpy
decorator
docopt
entrypoints
executing
fastapi
filelock
fonttools
frozenlist
future @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/future-0.18.2-py3-none-any.whl
h11
html
huggingface-hub
idna
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
lxml
macholib @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/macholib-1.15.2-py2.py3-none-any.whl
matplotlib
matplotlib-inline
multidict
nest-asyncio
numpy
openai
packaging
pandas
parso
pexpect
pickleshare
Pillow
pipreqs
platformdirs
plotly
prompt-toolkit
psutil
ptyprocess
pure-eval
pycryptodomex
pydantic
Pygments
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
regex
requests
scikit-learn
scipy
six
sniffio
soupsieve
stack-data
starlette
tenacity
threadpoolctl
tiktoken
tokenizers
tornado
tqdm
traitlets
transformers
typing_extensions
urllib3
uvicorn
wcwidth
yarg
yarl
