{{$isExternal := false}}
{{if strings.HasPrefix .Destination "http://"}}
  {{$isExternal = true}}
{{else if strings.HasPrefix .Destination "https://"}}
  {{$isExternal = true}}
{{end}}

{{if $isExternal}}
  <p class="spread mx-4 my-2">
    <a href="{{ .Destination | safeURL }}" target="_blank">
      <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" {{ with .Title}} title="{{ . }}"{{ end }} />
    </a>
  </p>
{{else}}
  <p class="spread mx-4 my-2">
    <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" {{ with .Title}} title="{{ . }}"{{ end }} />
  </p>
{{end}}
