{{/* 
    - The Series template functions like a list page, but is specific to the "series" taxonomy.
    - layout-series is an empty class for easier location; do not style against it.  
*/}}


{{ define "main" }}
    {{ $order := "asc"}}
        <section class="layout-series hero is-medium is-info theme-pattern theme-rounded">
            <div class="hero-body">
                <h1><strong>{{.Title}} </strong></h1>
                <div class="tag is-medium">series</div>
            </div>
        </section>
        <section class="layout-series container is-max-desktop">
            {{ range .Pages.ByParam "seriesPart" }}
                <article class="content"> 
                    <div class="is-flex is-align-items-center"> 
                        <div class="tag is-large is-black mr-3">{{.Params.seriesPart}}</div>
                        <h1>{{.Title}}</h1>
                    </div>
                    <br>
                    {{ partial "featureBetaNotice.html" . }}
                    {{.Content}}
                    <hr>
                </article>
            {{ end }}
        </section>
{{end}}
