{{/*  404 pages do not show up on local deploy previews; can only view them live & staging.  */}}
{{ define "main" }}
         {{ if .Site.Params.heroBanner.list }}
            <section class="black gradient-rl-cold py-3 mt-1 rounded-1 c-sp-1">
                    <h1>How can we help you?</h1>
                    <p> Select multiple tags to find related articles.</p>
            </section>
        {{else}}
        {{/* Don't show the hero section */}}
        {{end}}

        <section class="p-1"> 
            {{ range .Site.Taxonomies.tags }}
                <button class="button purple xs p-1 mr-1 mt-1 rounded-1 " onClick="Filter({{ .Page.Title }}, this)"># {{ .Page.Title }}</button> 
            {{ end }}
        </section>

        <section id="potentialResults" class="spread-left mt-4"> 

            {{ range .Site.Pages }}
                {{ if .Params.Tags}}
                    <div class="is-one-third is-hidden" data-tags="{{ trim  (print .Params.Tags) "[]" }}"> 
                        <a class="sp-1 c-sp-1" href="{{.Permalink}}">
                            <div class="darken-1 rounded-1 move-l">
                                <h3 class="mt-1 m">{{if .Title}}{{ .Title }}{{else}}{{ humanize .File.TranslationBaseName}}{{end}}<b class="s ml-1">></b></h3>
                                <p class="subtitle-1">{{if .Description}} {{.Description}} {{else}}{{.Summary | truncate 300}} {{end}} </p>
                            </div>
                        </a>
                    </div>
                {{else}}
                {{end}}
            {{ end }}
            </section>
{{ end }}

