<div class="spread mx-3 py-1 c-sp-1">
       <div class="stack c-sp-1">
              <label for="project-id">Project ID:</label>
              <input type="text" id="project-id" name="project-id">
       </div>
       <div class="stack c-sp-1">
              <label for="namespace">K8s Namespace:</label>
              <input type="text" id="namespace" name="namespace">
       </div>
       <div class="stack c-sp-1">
              <label for="gsa-name">GSA Name:</label>
              <input type="text" id="gsa-name" name="gsa-name">
       </div>
</div>

