{{/* 
    - Displays child pages with titles, descriptions/summaries, & links to up to 7 children (or a count of children) 
*/}}


{{ if .Site.Params.childPages.display}}
    {{if .Pages }}
        <aside class="spread-left c-pinned-top rounded-1 mt-5">
            {{ range sort .Pages "Weight" "$order"}}
                {{ if  .Params.hidden }}
                    {{/* Do not show the hidden child page or its descendants */}}
                {{else}}
                    <section class="is-one-third is-fullsize-mobile">
                        <div class="rounded-1  mr-2 my-2 p-2 move-u">
                            <a href="{{.RelPermalink}}">
                                <h2 class="">{{- .Title -}}<b class="xl metrichpe-black ml-2">></b></h2>
                                    {{if .Description}}
                                        <p class="m metrichpe-medium">{{.Description}}</p>
                                    {{else}}
                                        <p class="s light" bold>{{.Summary | truncate 100}}</p>
                                    {{end}}
                            </a>
                            {{/*  Displays the value of the "required" frontmatter attribute if present  */}}
                            {{if .Params.label}}
                                <div class="darken-1 p-2 is-fit xxs uppercase outlined-white">{{.Params.label}}</div>
                            {{end}}
                            {{ if .Site.Params.childPages.grandchildren}}
                                <div class="spread-left mb-3">
                                    {{ range first 7 .Pages }}
                                        <a class="button outlined p-2  mt-2 mr-2 s is-fit rounded-1" href="{{ .RelPermalink }}"> {{if .Title}}{{.Title | truncate 30}}{{else}}{{ path.BaseName . | humanize | truncate 30}}{{end}}
                                        </a>
                                    {{ end }}
                                    {{/*  {{if .Pages}}
                                        <a class="button outlined-green p-2 mt-2 mr-2 xs is-fit rounded-1" href="{{ .Permalink }}"> View All </a>
                                    {{else}} 
                                    {{end}}  */}}
                                </div>
                            {{else}}
                                {{/*  Displays a count of child articles if grandchildren are disabled in config.yaml  */}}
                                <div class="label black darken-1"> {{ len (.Pages) }} articles</div>  
                            {{end}}
                            </div>
                    </section>
                {{end}}
            {{end}}
        </aside>
    {{end}}
{{end}}