{{/* Contains the logic for toggling between docs versions + algolia indices */}}
{{ if .Site.Params.versionDropdown }}
    {{ $removeVersion := print "/" .Section "/"}}
    {{ $versionlessLink := strings.TrimPrefix $removeVersion .RelPermalink }}
    <button class="merichpe-regular dropdown-alt is-fit outlined-green rounded-4 {{if eq .Section "tags" "series" "knowledge-base"}}is-invisible{{end}}">
        <div id="activeVersion" data-algolia="{{if .IsHome}}latest{{else if eq .Section  "knowledge-base" "support" "tags" "series" }}latest{{else if eq .Page.Title "404 Page not found"}}latest{{else}}{{.Section}}{{end}}" class="activeOption p-2 s metrichpe-regular"> {{if .IsHome}} latest{{else}} {{ .Section }}{{end}}</div>
        <div class="metrichpe-regular s is-full dropdown-options white rounded-3 outlined-green"> 
             {{if eq .Section "tags" "series" "knowledge-base"}}
             {{/*  do nothing  */}}
             {{else if eq .Title "search" }}
             {{/*  do nothing  */}}
             {{else}}
                <div class="stack"> 
                {{ range after 2 .Site.Sections.ByTitle.Reverse }} 
                    {{ if not .Params.hidden }}
                    {{$currentVersionOption := print "/" .Section "/"}}
                    {{$alternativeVersionPath := print $currentVersionOption $versionlessLink }}
                    {{ $file :=  print (strings.TrimSuffix "/" $alternativeVersionPath) ".md" }}
                    {{ $folder :=  print $alternativeVersionPath "_index.md" }}
                    {{ if os.FileExists $file }}
                        <a class="is-fit p-2 m-1 s" href="{{$alternativeVersionPath}}"> {{.Title}}</a>
                    {{ end }}
                    {{ if os.FileExists $folder }}
                        <a class="is-fit p-2 m-1 s" href="{{$alternativeVersionPath}}"> {{.Title}}</a>
                    {{ end }}
                    {{end}}
                {{end}}
                </div>
             {{end}}

        </div>
    </button>
{{end}}
