{{/*  
- themes/pach-emdash/assets/js 
- each one is minified
*/}}
  {{$algolia := resources.Get "js/search/core.js"  | js.Build  }}
  {{$chatgpt := resources.Get "js/clippy.js"  | resources.Minify }}
  {{ $toc := resources.Get "js/toc.js"  | resources.Minify  }}
  {{ $clippy := resources.Get "js/clipboard.js"  | resources.Minify }}
  {{ $relatedArticles := resources.Get "js/relatedArticles.js"  | resources.Minify }}
  {{ $darkMode := resources.Get "js/darkMode.js" | resources.Minify   }}
  {{ $notices := resources.Get "js/notices.js"  | resources.Minify  }}
  {{ $pagination := resources.Get "js/pagination.js"  | resources.Minify  }}
  {{ $explore := resources.Get "js/filterByTags.js"  | resources.Minify  }}
  {{ $mermaid := resources.Get "js/mermaid.js"  | resources.Minify  }}
  {{ $tables := resources.Get "js/tables.js"  | resources.Minify  }}
  {{ $keyboard := resources.Get "js/keyboard.js"  | resources.Minify  }}
  {{ $tags := resources.Get "js/tagResultsFilteredByVersion.js"  | resources.Minify  }}
  {{ $wizard := resources.Get "js/wizard.js"  | resources.Minify  }}


  {{/*  Aggregates all minified js into one 'js/bundle.js' resource at build  */}}
  {{ $js := slice $darkMode $wizard $toc $relatedArticles $clippy $chatgpt $mermaid $notices $tables $pagination $explore $tags | resources.Concat "js/bundle.js"}}

<footer class="spread  mt-7 px-4 py-7 c-pinned-top c-mt-5">
  {{/*  Algolia scripts  */}}
  <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js" integrity="sha256-EXPXz4W6pQgfYY3yTpnDa3OH8/EPn16ciVsPQ/ypsjk=" crossorigin="anonymous" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js" integrity="sha256-LAGhRRdtVoD6RLo2qDQsU2mp+XVSciKRC8XPOBWmofM=" crossorigin="anonymous" defer></script>

  <script src="{{ $algolia.RelPermalink }}" type="module" defer></script>
  
    <script src="{{ $js.RelPermalink }}" defer></script>
    {{ partial "marketingScripts.html" . }}
    {{if .Params.mermaid}}
      {{ partial "mermaid.html" . }}
      <script src="{{ $mermaid.RelPermalink }}" defer></script>
    {{else}}
    {{end}}

    <div class="spread-center">
      <a href="https://pachyderm.com" class="is-fit">
        <img src="/images/hpe.svg" alt="{{ .Site.Params.title }}" width="100px" height="100px" loading="lazy" />
      </a>
    </div>
    {{/*  <div class="stack-left c-mb-3 s is-fullsize-mobile">
      <h4 class="xs bold uppercase mb-4">Products</h4>
      <a href="https://www.pachyderm.com/products/">Product Overview</a>
      <a href="https://www.pachyderm.com/pricing/">Product Pricing</a>
      <a href="https://www.pachyderm.com/see-pachyderm-in-action-demo/">Book a Demo</a>
      <a href="https://docs.pachyderm.com/latest/deploy-manage/deploy/">Download Community Edition</a>
      <h4 class="xs bold uppercase my-4 ">Industries</h4>
      <a href="https://www.pachyderm.com/solutions/industries/">Overview</a>
      <a href="https://www.pachyderm.com/solutions/industries/bio-tech/">Healthcare</a>
      <a href="https://www.pachyderm.com/solutions/industries/fin-tech/">Financial Services</a>
      <h4 class="xs bold uppercase my-4">Use Cases</h4>
      <a href="https://www.pachyderm.com/natural-language-processing/">Natural Language Processing</a>
      <a href="https://www.pachyderm.com/video-and-image/">Video and Image ETL</a>
    </div>
    <div class="stack-left c-mb-3 s is-fullsize-mobile">
      <h4 class="xs bold uppercase mb-4">Solutions</h4>
      <a href="https://www.pachyderm.com/solutions/">Overview</a>
      <a href="https://www.pachyderm.com/solutions/mlops/">MLOps</a>
      <a href="https://www.pachyderm.com/solutions/unstructured-data/">Unstructured Data</a>
      <a href="https://www.pachyderm.com/solutions/data-warehouse-integration/">Data Warehouse</a>
      <a href="https://www.pachyderm.com/data-centric-ai/">Data Centric AI</a>
      
      <h4 class="xs bold uppercase my-4">Resources</h4>
      <a href="https://www.pachyderm.com/blog/">Blog</a>
      <a href="https://www.pachyderm.com/resources/type/case-studies/">Case Studies</a>
      <a href="https://www.pachyderm.com/resources/type/collateral/">eBooks</a>
      <a href="https://www.pachyderm.com/resources/type/events/">Events</a>
      <a href="https://www.pachyderm.com/glossary/">Glossary</a>
      <a href="https://www.pachyderm.com/partners/">Partners</a>
    </div>
    <div class="stack-left c-mb-3  s is-fullsize-mobile">
      <h4 class="xs bold uppercase mb-4">Developers</h4>
      <a href="/">Documentation</a>
      <a href="https://docs.pachyderm.com/latest/getting-started">Getting Started</a>
      <a href="https://docs.pachyderm.com/latest/concepts">Key Concepts</a>
      <a href="https://www.pachyderm.com/resources/type/examples/">GitHub Examples</a>
      <a href="https://www.pachyderm.com/partners/aws/">Pachyderm on AWS</a>
      <h4 class="xs bold uppercase my-4">Company</h4>
      <a href="https://www.pachyderm.com/company/">About Us</a>
      <a href="https://www.pachyderm.com/careers/">Careers</a>
      <a href="https://www.pachyderm.com/cookie-policy/">Cookie Policy</a>
      <a href="https://www.pachyderm.com/terms/">Terms of Service</a>
      <a href="https://www.pachyderm.com/privacy/">Privacy Notice</a>
  
    </div>
    <div class="stack-left c-mb-3  s is-fullsize-mobile">
      <h4 class="xs bold uppercase mb-4">Connect</h4>
      <a href="https://www.pachyderm.com/slack/">Slack</a>
      <a href="https://www.pachyderm.com/community/">Newsletter</a>
      <a href="https://github.com/pachyderm/pachyderm">Github</a>
      <a href="https://twitter.com/pachyderminc">Twitter</a>
      <a href="https://www.youtube.com/c/Pachyderm">YouTube</a>
    </div>
     <div class="is-fit is-hidden-mobile"> 
        <div class="content">
          <a href="https://pachyderm.com">
            <img src="{{ .Site.Params.logos.footer }}" alt="{{ .Site.Params.title }}" width="100px" height="100px" loading="lazy" />
          </a>
        </div>
    </div>  */}}
    </section>


    
  </footer>