/* EmdashCSS by @lbliii - https://emdash.dev; https://github.com/lbliii/emdashCSS */
:root {
    --is-font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --custom-font-1: "none";
    --custom-font-2: "none";
    
    --is-header-line-height: 100%;
    --is-text-line-height: 150%;


    --xxsmall-text: calc((.5rem) + (.2vw));   
    --xsmall-text: calc((.75rem) + (.2vw));  
    --small-text: calc((1rem) + (.2vw));  
    --medium-text: calc((1rem) + (1vw));
    --large-text: calc((1rem) + (2vw));
    --xlarge-text: calc((1rem) + (3vw));
    --xxlarge-text: calc((1rem) + (4vw));
    --xxxlarge-text: calc((1rem) + (5vw));

    --padding-1: 100;
    --padding-2: 90;
    --padding-3: 80;
    --padding-4: 70;
    --padding-5: 60;
    --padding-6: 50;
    --padding-7: 40;
    --padding-8: 30;
    --padding-9: 20;
    --padding-10: 10;
    --padding-11: 1.5;

    --margin-1: 100;
    --margin-2: 70;
    --margin-3: 50;
    --margin-4: 30;
    --margin-5: 20;
    --margin-6: 10;
    --margin-7: 5;
    --margin-8: 4;
    --margin-9: 3;
    --margin-10: 2;
    --margin-11: 1.5;

    --is-text-color: #000000;
    --is-text-color-inverted: #ffffff;
    --is-header-text-color: #000000;
    --is-header-text-color-inverted: #ffffff;

    --is-code-color: inherit;

    --is-attention-color: var(--is-pink);
    --is-attention-text: var(--is-text-color-inverted);
    --is-info-color: var(--is-blue);
    --is-info-text: var(--is-text-color-inverted);
    --is-note-color: var(--is-yellow);
    --is-note-text: var(--is-text-color-inverted);
    --is-success-color: var(--is-green);
    --is-success-text: var(--is-text-color-inverted);
    --is-warning-color: var(--is-orange);
    --is-warning-text: var(--is-text-color-inverted);
    --is-tip-color: var(--is-purple);
    --is-tip-text: var(--is-text-color-inverted);
    --is-danger-color: var(--is-red);
    --is-danger-text: var(--is-text-color-inverted);


    --is-shadow-color: var(--is-dark-gray);
    --is-highlight-color: var(--is-purple);
    --is-red: #ff0000;
    --is-green: #00ff00;
    --is-blue: #0000ff;
    --is-yellow: #ffff00;
    --is-orange: #ff8000;
    --is-purple: #8000ff;
    --is-pink: #ff0080;
    --is-white: #ffffff;
    --is-black: #000000;
    --is-gray: #808080;
    --is-dark-gray: #404040;
    --is-graident-warm-pt-1: #ff0000;
    --is-graident-warm-pt-2: #ff4000;
    --is-graident-warm-pt-3: #ff8000;
    --is-graident-warm-pt-4: #ffbf00;
    --is-graident-warm-pt-5: #ffff00;
    --is-gradient-cold-pt-1: #0033ff;
    --is-gradient-cold-pt-2: #2200ff;
    --is-gradient-cold-pt-3: #5d00ff;
    --is-gradient-cold-pt-4: #8c00ff;
    --is-gradient-cold-pt-5: #f700ff;

    --rounded-1: calc(.1vw);
    --rounded-2: calc(.2vw); 
    --rounded-3: calc(.3vw);
    --rounded-4: calc(.4vw);
    --rounded-5: calc(.5vw);
    --rounded-6: calc(.6vw);
    --rounded-7: calc(.7vw);
    --rounded-8: calc(.8vw);
    --rounded-9: calc(.9vw);
    --rounded-10: calc(1vw);
    --rounded-11: calc(1.5vw);

    --pattern-1: url(/images/patty.svg) repeat;
    --pattern-2: url(/images/patty.svg2) repeat;

    --layer-angle-1: 1deg;
    --layer-angle-2: -1deg;

    --modal-top: 0;
    --modal-bottom: 0;
    --modal-left: 0;
    --modal-right: 0;

    --ghoul-1: 10px;
    --ghoul-2: 20px;
    --ghoul-3: 30px;
    --ghoul-4: 40px;
    --ghoul-5: 50px;
    --ghoul-6: 100px;
    --ghoul-7: 200px;
}/* * {
    outline: solid 1px red;
} */

html, body { 
    font-family: var(--is-font-family); 
    font-size: var(--small-text);
    text-size-adjust: 100%; 
        -ms-text-size-adjust: 100%; 
        -moz-text-size-adjust: 100%; 
        -webkit-text-size-adjust: 100%;
}

a, aside, article, body, button, code, div, h1, h2, h3, h4, h5, h6, li, ol, p, pre, section, table, ul {
    margin: 0;
    padding: 0;
    min-width: 0;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--is-link-color);
    display: inline-block;
}

a:hover, button:hover, .label:hover { opacity: 0.7; }

 
b {
    background: linear-gradient(0.25turn, var(--is-gradient-cold-pt-1), var(--is-gradient-cold-pt-2),var(--is-gradient-cold-pt-3),var(--is-gradient-cold-pt-4),var(--is-gradient-cold-pt-5)); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

/* Code */ 

code {
  overflow-x: scroll;
}

pre {
  overflow-x: scroll;
}


/* Headers */

h1, h2, h3, h4, h5, h6 { line-height: var(--is-header-line-height) }

h1 { font-size: var(--xxxlarge-text); }
h2 { font-size: var(--xxlarge-text); }
h3 { font-size: var(--xlarge-text); }
h4 { font-size: var(--large-text); }
h5 { font-size: var(--medium-text); }
h6 { font-size: var(--small-text); }

hr {
    margin-top: var(--large-text);
    margin-bottom: var(--large-text);
}

p { font-size:  var(--small-text); line-height: var(--is-text-line-height);}

::selection {
    background: var(--is-highlight-color);
    color: var(--is-text-color-inverted);
}

/* Tables */

table {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-top: 1em;
    margin-bottom: 2em;
    overflow-x: scroll;
}

table * { padding: 0px; }

table > thead > tr {
    display: flex;
    flex-direction: row;
    border-bottom: 1px dotted var(--is-gray);
}

table > thead > tr > th {
    flex: 1;
    text-align: left;
}
table > tbody * { width: 100%; }

table > tbody > tr {
    display: flex;
    flex: 1;        
}

/* Nested Lists */

:is(.directory, nav) ul > li { list-style: none; }

ul, ol { padding-inline-start: 1vw; }

:is(ol,ul) > li { margin-left: 1vw; } /* Flexbox Layout System *//* Flexbox Layout System */

/* Layer things horizontally */

:is(.layer-right, .layer-center) {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
}

.layer-right::-webkit-scrollbar, .layer-center::-webkit-scrollbar, .slide::-webkit-scrollbar { display: none; }

.layer-right  { justify-content: flex-end; }

.layer-center { justify-content: center; }

:is(.layer-right, .layer-center) > div:first-child { margin-left: inherit; }

.layer-right  > div:last-child { margin-right: inherit; }

:is(.layer-right, .layer-center) > div:not(first-child) {
    margin-left: calc(-20vh);
    transform: rotate(var(--layer-angle-1))
}

:is(.layer-right, .layer-center) > div:hover {
    transform: rotate(0deg);
    z-index: 999;
}

/* Reverse Layers */

:is(.layer, .layer-left, .layer-right-reverse, .layer-center-reverse) {
    display: flex;
    flex-flow: row-reverse nowrap;
    overflow-x: scroll;
}

.layer::-webkit-scrollbar, .layer-left::-webkit-scrollbar, .layer-right::-webkit-scrollbar, .layer-center::-webkit-scrollbar { display: none; }

.layer, .layer-left{ justify-content: flex-end; }

.layer-right-reverse  { justify-content: flex-start; }

.layer-center-reverse { justify-content: center; }

:is(.layer, .layer-left, .layer-right-reverse, .layer-center-reverse) > div:last-child { margin-left: inherit; }

.layer-right-reverse  > div:first-child { margin-right: inherit; }

:is(.layer, .layer-left, .layer-right-reverse, .layer-center-reverse) > div:not(first-child) {
    margin-left: calc(-20vh);
    transform: rotate(1deg)
}

:is( .layer, .layer-left, .layer-right-reverse, .layer-center-reverse) > div:hover {
    transform: rotate(0deg);
    z-index: 999;
}

/* Spread things horizontally */

:is(.spread, .spread-left, .spread-right, .spread-around, .spread-center, .spread-stretch, .spread-between, .c-spread > *) {
    display: flex;
    flex-flow: row wrap;
    scroll-snap-type: y mandatory;
    min-width: 0;
    max-width: 100%;
}

:is(.spread, .spread-left, .spread-right, .spread-around, .spread-center, .spread-stretch, .spread-between) > * { flex: 1; }

.spread, .c-spread > * { justify-content: space-between; }

.spread-left { justify-content: flex-start; }

.spread-right { justify-content: flex-end; }

.spread-center {
    justify-content: center;
    align-items: center;
}

.spread-around { justify-content: space-around; }

.spread-between { justify-content: space-between; }

/*  Spread  Item Sizes */

.is-full, .c-full  > * { flex-basis: 100%; }

.is-half, .c-half  > * {
    flex-basis: 50%;
    flex-grow: 0;
}

.is-one-third, .c-one-third  > * {
    flex-basis: 33.33333%;
    flex-grow: 0;
}

.is-two-thirds, .c-two-thirds  > * {
    flex-basis: 66.66667%;
    flex-grow: 0;
}

.is-one-fourth, .c-one-fourth  > * {
    flex-basis: 25%;
    flex-grow: 0;
}

.is-three-fourths, .c-three-fourths  > * {
    flex-basis: 75%;
    flex-grow: 0;
}

.is-one-fifth, .c-one-fifth  > * {
    flex-basis: 20%;
    flex-grow: 0;
}

.is-two-fifths, .c-two-fifths  > * {
    flex-basis: 40%;
    flex-grow: 0;
}

.is-three-fifths, .c-three-fifths  > * {
    flex-basis: 60%;
    flex-grow: 0;
}

.is-four-fifths, .c-four-fifths  > * {
    flex-basis: 80%;
    flex-grow: 0;
}

/* Stack things vertically */

:is(.stack, .stack-left, .stack-center, .stack-right, .c-stack > *) {
    display:flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    min-width: 0;
    max-width: 100%;
}

.stack-left { align-items: baseline; }

.stack-center { align-items: center; }

.stack-right { align-items: flex-end; }

:is(.stack, .stack-left, .stack-right, .stack-center ) > * { flex: 1; }


/* Slide */

.slide {
    display: flex;
    flex-flow: row nowrap;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
}

.slide-reverse {
    display: flex;
    flex-flow: row-reverse nowrap;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
}

:is(.slide, .slide-reverse) > * {
    flex-shrink: 0;
    scroll-snap-align: center;
}

/* Size Contraints */

.wideless {
  max-width: 1600px;
  margin: 0 auto;
}/* Content */

:is(.content) > :is(h1, h2, h3, h4, h5, h6) { margin-top: var(--xxxlarge-text); }

/* breadcrumb */

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.breadcrumb::after {
    content: "/";
    margin: 0 0.5em;
    color: var(--is-grey);
}

.breadcrumb:last-child::after { content: ""; }

/* buttons */

button, .button {
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    color: inherit;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

/* Labels  */ 
 
.label {
    flex: 0;
    white-space: nowrap;
    display: inline-flex;
    align-items: center; 
    background-color: inherit;
    color: inherit;
}

/* Modals */

.modal { 
  position: fixed; 
  z-index: 1; 
  top: var(--modal-top);
  bottom: var(--modal-bottom);
  right: var(--modal-right);
  left: var(--modal-left);
  width: 100%; 
  height: 100%; 
  overflow-y: scroll; 
}

/* Images */

.image {
    display: block;
    height: auto;
}

.image-1x1 {
    aspect-ratio: 1 / 1;
    width: 100%;
}

.image-1x2 {
    aspect-ratio: 1 / 2;
    width: 100%;
}

.image-2x1 {
    aspect-ratio: 2 / 1;
    width: 100%;
    
}

.image-3x2 {
    aspect-ratio: 3 / 2;
    width: 100%;
}

.image-4x3 {
    aspect-ratio: 4 / 3;
    width: 100%;
}

.image-16x9 {
    aspect-ratio: 16 / 9;
    width: 100%;
}

.anchor {
    color: var(--is-purple) !important;
    font-size: .5em;
    font-weight: 900;
    margin-left: -1ch;
    visibility: hidden;
}

h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5:hover .anchor, h6:hover .anchor {
  visibility: visible;
}

/* Notice Utilities */

.attention {
    background-color: var(--is-attention-color);
    color: var(--is-attention-text);
}

.danger {
  background-color: var(--is-danger-color);
  color: var(--is-danger-text);
}

.info {
  background-color: var(--is-info-color);
  color: var(--is-info-text);
}

.note {
  background-color: var(--is-note-color);
  color: var(--is-note-text);
}

.success {
  background-color: var(--is-success-color);
  color: var(--is-success-text);
}

.tip {
  background-color: var(--is-tip-color);
  color: var(--is-tip-text);
}

.warning { 
  background-color: var(--is-warning-color);
  color: var(--is-warning-text);
}

/* Dropdowns */

.dropdown {
  display: inline-flex;
  position: relative;
  vertical-align: top;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-alt {
  position: relative;
  display: inline-block;
  display: inline-flex;
  align-items: center; 
  justify-content: center;
}

.dropdown-options {
  display: none;
  position: absolute;
  z-index: 1;
  white-space: nowrap;
  top: -1px;
}

.dropdown-alt:hover .dropdown-options, .dropdown-alt:focus .dropdown-options, .dropdown-alt:active .dropdown-options, .dropdown-alt:target .dropdown-options {
  display: block;
}

/* Tables */

.tableWrapper {
  overflow-x: auto;
  max-width: 100%;
}
/* Animations */
.move-l:hover, .c-move-l:hover > :hover {
  animation-duration: 2s;
  animation-name: move-l;
  animation-iteration-count: infinite;
}
.move-r:hover, .c-move-r:hover > :hover {
  animation-duration: 2s;
  animation-name: move-r;
  animation-iteration-count: infinite;
}
.move-u:hover, .c-move-u:hover > :hover {
  animation-duration: 2s;
  animation-name: move-u;
  animation-iteration-count: infinite;
}
.move-d:hover, .c-move-d:hover > :hover {
  animation-duration: 2s;
  animation-name: move-d;
  animation-iteration-count: infinite;
}
 

@keyframes move-l {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes move-r {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes move-u {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes move-d {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1%);
  }
  100% {
    transform: translateY(0);
  }
}

.wiggle {
  animation: wiggle 2s ease-in-out infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(.5deg);
  }
  40% {
    transform: rotate(-.5deg);
  }
  60% {
    transform: rotate(.5deg);
  }
  80% {
    transform: rotate(-.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
 
/* Stick to Top  */
.sticky-0 {
  position: sticky;
  top: 0;
}
.sticky-1 {
  position: sticky;
  top: 1vh;
}
.sticky-2 {
  position: sticky;
  top: 2vh;
}

.sticky-3 {
  position: sticky;
  top: 3vh;
}

.sticky-4 {
  position: sticky;
  top: 4vh;
}

/* Fit */
.is-fit, .c-fit > * {
  max-width: fit-content !important;
  flex: none !important;
}
.is-fit-x, .c-fit-x > * {
    max-width: fit-content !important;
}
.is-fit-y, .c-fit-y > * {
   flex: none !important;
}

/* Spread and Stack item alignment */

.pinned-center {
    align-self: center;
}
.pinned-top {
    align-self: flex-start;
}
.pinned-bottom {
    align-self: flex-end;
}

.pinned-end {
  float: right;
}

.pinned-start {
  float: left;
}

.stretched {
  display: flex;
  align-self: stretch;
}

.pinned-baseline {
    align-self: baseline;
}

.c-pinned-center {
    align-items: center;
}
.c-pinned-top {
    align-items: flex-start;
}
.c-pinned-bottom {
    align-items: flex-end;
}
.c-stretched {
    align-items: stretch;
}
.c-pinned-baseline {
    align-items: baseline;
}

/* Round the Object  */
.rounded-1, .c-rounded-1 > * {
  border-radius: var(--rounded-1) !important;
}
.rounded-2, .c-rounded-2 > * {
  border-radius: var(--rounded-2) !important;
}
.rounded-3, .c-rounded-3 > * {
  border-radius: var(--rounded-3) !important;
}
.rounded-4, .c-rounded-4 > * {
  border-radius: var(--rounded-4) !important;
}
.rounded-5, .c-rounded-5 > * {
    border-radius: var(--rounded-5) !important;
}
.rounded-6, .c-rounded-6 > * {
    border-radius: var(--rounded-6) !important;
}
.rounded-7, .c-rounded-7 > * {
    border-radius: var(--rounded-7) !important;
}
.rounded-8, .c-rounded-8 > * {
    border-radius: var(--rounded-8) !important;
}
.rounded-9, .c-rounded-9 > * {
    border-radius: var(--rounded-9) !important;
}
.rounded-10, .c-rounded-10 > * {
    border-radius: var(--rounded-10) !important;
}
.rounded-11, .c-rounded-11 > * {
    border-radius: var(--rounded-11) !important;
}


/* Outline the Object */
.outlined, .c-outlined > * {
    border: 1px solid currentColor;
}
.outlined-black, .c-outlined-black > * {
    border: 1px solid #000;
}
.outlined-white, .c-outlined-white > * {
    border: 1px solid #fff;
}

/* Scroll */

.h-scroll {
  height: 600px;
  overflow-y: scroll;
}

.noscrollbar::-webkit-scrollbar {
  display: none;
}

/* Miscellaneous */
.wrapless, .c-wrapless > * {
    white-space: nowrap;
}

/* Pattern */
.display-pattern, .c-display-pattern > * {
    background: var(--pattern-1);
}
.display-pattern2, .c-display-pattern2 > * {
    background: var(--pattern-2);
}


/* Z Index */
.level-top {
    z-index: 9999;
}
.level-bottom {
    z-index: -9999;
}

/* Cast shade */
.shadow-u-1, .c-shadow-u-1 > * {
  filter: drop-shadow(0px -4px 5px var(--is-shadow-color));
}
.shadow-u-2, .c-shadow-u-2 > * {
  filter: drop-shadow(0px -8px 10px var(--is-shadow-color));
}
.shadow-u-3, .c-shadow-u-3 > * {
  filter: drop-shadow(0px -16px 20px var(--is-shadow-color));
}
.shadow-d-1, .c-shadow-d-1 > * {
  filter: drop-shadow(0px 4px 5px var(--is-shadow-color));
}
.shadow-d-2, .c-shadow-d-2 > * {
  filter: drop-shadow(0px 8px 10px var(--is-shadow-color));
}
.shadow-d-3, .c-shadow-d-3 > * {
  filter: drop-shadow(0px 16px 20px var(--is-shadow-color));
}
.shadow-l-1, .c-shadow-l-1 > * {
  filter: drop-shadow(-4px 0px 5px var(--is-shadow-color));
}
.shadow-l-2, .c-shadow-l-2 > * {
  filter: drop-shadow(-8px 0px 10px var(--is-shadow-color));
}
.shadow-l-3, .c-shadow-l-3 > * {
  filter: drop-shadow(-16px 0px 20px var(--is-shadow-color));
}
.shadow-r-1, .c-shadow-r-1 > * {
  filter: drop-shadow(4px 0px 5px var(--is-shadow-color));
}
.shadow-r-2, .c-shadow-r-2 > * {
  filter: drop-shadow(8px 0px 10px var(--is-shadow-color));
}
.shadow-r-3, .c-shadow-r-3 > * {
  filter: drop-shadow(16px 0px 20px var(--is-shadow-color));
}
.shadow-ul-1, .c-shadow-ul-1 > * {
  filter: drop-shadow(-4px -4px 5px var(--is-shadow-color));
}
.shadow-ul-2, .c-shadow-ul-2 > * {
  filter: drop-shadow(-8px -8px 10px var(--is-shadow-color));
}
.shadow-ul-3, .c-shadow-ul-3 > * {
  filter: drop-shadow(-16px -16px 20px var(--is-shadow-color));
}
.shadow-ur-1, .c-shadow-ur-1 > * {
  filter: drop-shadow(4px -4px 5px var(--is-shadow-color));
}
.shadow-ur-2, .c-shadow-ur-2 > * {
  filter: drop-shadow(8px -8px 10px var(--is-shadow-color));
}
.shadow-ur-3, .c-shadow-ur-3 > * {
  filter: drop-shadow(16px -16px 20px var(--is-shadow-color));
}
.shadow-dr-1, .c-shadow-dr-1 > * {
  filter: drop-shadow(4px 4px 5px var(--is-shadow-color));
}
.shadow-dr-2, .c-shadow-dr-2 > * {
  filter: drop-shadow(8px 8px 10px var(--is-shadow-color));
}
.shadow-dr-3, .c-shadow-dr-3 > * {
  filter: drop-shadow(16px 16px 20px var(--is-shadow-color));
}
.shadow-dl-1, .c-shadow-dl-1 > * {
  filter: drop-shadow(-4px 4px 5px var(--is-shadow-color));
}
.shadow-dl-2, .c-shadow-dl-2 > * {
  filter: drop-shadow(-8px 8px 10px var(--is-shadow-color));
}
.shadow-dl-3, .c-shadow-dl-3 > * {
  filter: drop-shadow(-16px 16px 20px var(--is-shadow-color));
}


.is-vampire {
  filter: none !important;
}

/* Ghost & Ghouls for using spreads and stacks as color blocks*/
.ghouls-1 > * {
    max-width: var(--ghoul-1);
    max-height: var(--ghoul-1);
    height: var(--ghoul-1);
}
.ghouls-2 > * {
    max-width: var(--ghoul-2);
    max-height: var(--ghoul-2);
    height: var(--ghoul-2);
}
.ghouls-3 > * {
    max-width: var(--ghoul-3);
    max-height: var(--ghoul-3);
    height: var(--ghoul-3);
}
.ghouls-4 > * {
    max-width: var(--ghoul-4);
    max-height: var(--ghoul-4);
    height: var(--ghoul-4);
}
.ghouls-5 > * {
    max-width: var(--ghoul-5);
    max-height: var(--ghoul-5);
    height: var(--ghoul-5);
}
.ghouls-6 > * {
    max-width: var(--ghoul-6);
    max-height: var(--ghoul-6);
    height: var(--ghoul-6);
}
.ghouls-7 > * {
    max-width: var(--ghoul-7);
    max-height: var(--ghoul-7);
    height: var(--ghoul-7);
}

.ghost-1 {
    height: 1px;
}
.ghost-2 {
    height: 5px;
}
.ghost-3 {
    height: 50px;
}
.ghost-4 {
    height: 100px;
}

.is-invisible, .is-invisible:hover {
    opacity: 0;
}

.fill-h {
    height: max-content;
}

/* absolute */

.absolute {
  position: absolute;
}

.is-hidden {
  display: none;
}



/* Spacing */

.sp-1, .c-sp-1 > * {
  padding: calc(100vw / var(--padding-1));
  margin: calc(100vh / var(--margin-1));
}

.sp-2, .c-sp-2 > * {
  padding: calc(100vw / var(--padding-2));
  margin: calc(100vh / var(--margin-2));
}

.sp-3, .c-sp-3 > * {
  padding: calc(100vw / var(--padding-3));
  margin: calc(100vh / var(--margin-3));
}

.sp-4, .c-sp-4 > * {
  padding: calc(100vw / var(--padding-4));
  margin: calc(100vh / var(--margin-4));
}

.sp-5, .c-sp-5 > * {
  padding: calc(100vw / var(--padding-5));
  margin: calc(100vh / var(--margin-5));
}

.sp-6, .c-sp-6 > * {
  padding: calc(100vw / var(--padding-6));
  margin: calc(100vh / var(--margin-6));
}

.sp-7, .c-sp-7 > * {
  padding: calc(100vw / var(--padding-7));
  margin: calc(100vh / var(--margin-7));
} 

.sp-8, .c-sp-8 > * {
  padding: calc(100vw / var(--padding-8));
  margin: calc(100vh / var(--margin-8));
}

.sp-9, .c-sp-9 > * {
  padding: calc(100vw / var(--padding-9));
  margin: calc(100vh / var(--margin-9));
}

.sp-10, .c-sp-10 > * {
  padding: calc(100vw / var(--padding-10));
  margin: calc(100vh / var(--margin-10));
}

.sp-11, .c-sp-11 > * {
  padding: calc(100vw / var(--padding-11));
  margin: calc(100vh / var(--margin-11));
}

/*Global Padding*/

.p-1, .c-p-1 > * {
  padding: calc(100vw / var(--padding-1));
}

.p-2, .c-p-2 > * {
  padding: calc(100vw / var(--padding-2));
}

.p-3, .c-p-3 > * {
  padding: calc(100vw / var(--padding-3));
}

.p-4, .c-p-4 > * {
  padding: calc(100vw / var(--padding-4));
}

.p-5, .c-p-5 > * {
  padding: calc(100vw / var(--padding-5));
}

.p-6, .c-p-6 > * { 
  padding: calc(100vw / var(--padding-6));
}

.p-7, .c-p-7 > * {
  padding: calc(100vw / var(--padding-7));
}

.p-8, .c-p-8 > * {
  padding: calc(100vw / var(--padding-8));
}

.p-9, .c-p-9 > * {
  padding: calc(100vw / var(--padding-9));
}

.p-10, .c-p-10 > * {
  padding: calc(100vw / var(--padding-10));
}

.p-11, .c-p-11 > * {
  padding: calc(100vw / var(--padding-11));
}

/* Top Padding */

.pt-1, .c-pt-1 > *, .py-1, .c-py-1 > * {
  padding-top: calc(100vw / var(--padding-1)) ;
}

.pt-2, .c-pt-2 > *, .py-2, .c-py-2 > * {
  padding-top: calc(100vw / var(--padding-2)) ;
}

.pt-3, .c-pt-3 > *, .py-3, .c-py-3 > * {
  padding-top: calc(100vw / var(--padding-3)) ;
}

.pt-4, .c-pt-4 > *, .py-4, .c-py-4 > * {
  padding-top: calc(100vw / var(--padding-4)) ;
}

.pt-5, .c-pt-5 > *, .py-5, .c-py-5 > * {
  padding-top: calc(100vw / var(--padding-5)) ;
}

.pt-6, .c-pt-6 > *, .py-6, .c-py-6 > * {
  padding-top: calc(100vw / var(--padding-6)) ;
}

.pt-7, .c-pt-7 > *, .py-7, .c-py-7 > * {
  padding-top: calc(100vw / var(--padding-7)) ;
}

.pt-8, .c-pt-8 > *, .py-8, .c-py-8 > * {
  padding-top: calc(100vw / var(--padding-8)) ;
}

.pt-9, .c-pt-9 > *, .py-9, .c-py-9 > * {
  padding-top: calc(100vw / var(--padding-9)) ;
}

.pt-10, .c-pt-10 > *, .py-10, .c-py-10 > * {
  padding-top: calc(100vw / var(--padding-10)) ;
}

.pt-11, .c-pt-11 > *, .py-11, .c-py-11 > * {
  padding-top: calc(100vw / var(--padding-11)) ;
}

/* Bottom Padding */

.pb-1, .c-pb-1 > *, .py-1, .c-py-1 > * {
  padding-bottom: calc(100vw / var(--padding-1)) ;
}

.pb-2, .c-pb-2 > *, .py-2, .c-py-2 > * {
  padding-bottom: calc(100vw / var(--padding-2)) ;
}

.pb-3, .c-pb-3 > *, .py-3, .c-py-3 > * {
  padding-bottom: calc(100vw / var(--padding-3)) ;
}

.pb-4, .c-pb-4 > *, .py-4, .c-py-4 > * {
  padding-bottom: calc(100vw / var(--padding-4)) ;
}

.pb-5, .c-pb-5 > *, .py-5, .c-py-5 > * {
  padding-bottom: calc(100vw / var(--padding-5)) ;
}

.pb-6, .c-pb-6 > *, .py-6, .c-py-6 > * {
  padding-bottom: calc(100vw / var(--padding-6)) ;
}

.pb-7, .c-pb-7 > *, .py-7, .c-py-7 > * {
  padding-bottom: calc(100vw / var(--padding-7)) ;
}

.pb-8, .c-pb-8 > *, .py-8, .c-py-8 > * {
  padding-bottom: calc(100vw / var(--padding-8)) ;
}

.pb-9, .c-pb-9 > *, .py-9, .c-py-9 > * {
  padding-bottom: calc(100vw / var(--padding-9)) ;
}

.pb-10, .c-pb-10 > *, .py-10, .c-py-10 > * {
  padding-bottom: calc(100vw / var(--padding-10)) ;
}

.pb-11, .c-pb-11 > *, .py-11, .c-py-11 > * {
  padding-bottom: calc(100vw / var(--padding-11)) ;
}

/* Right Padding */

.pr-1, .c-pr-1 > *, .px-1, .c-px-1 > * {
  padding-right: calc(100vw / var(--padding-1)) ;
}

.pr-2, .c-pr-2 > *, .px-2, .c-px-2 > * {
  padding-right: calc(100vw / var(--padding-2)) ;
}

.pr-3, .c-pr-3 > *, .px-3, .c-px-3 > * {
  padding-right: calc(100vw / var(--padding-3)) ;
}

.pr-4, .c-pr-4 > *, .px-4, .c-px-4 > * {
  padding-right: calc(100vw / var(--padding-4)) ;
}

.pr-5, .c-pr-5 > *, .px-5, .c-px-5 > * {
  padding-right: calc(100vw / var(--padding-5)) ;
}

.pr-6, .c-pr-6 > *, .px-6, .c-px-6 > * {
  padding-right: calc(100vw / var(--padding-6)) ;
}

.pr-7, .c-pr-7 > *, .px-7, .c-px-7 > * {
  padding-right: calc(100vw / var(--padding-7)) ;
}

.pr-8, .c-pr-8 > *, .px-8, .c-px-8 > * {
  padding-right: calc(100vw / var(--padding-8)) ;
}

.pr-9, .c-pr-9 > *, .px-9, .c-px-9 > * {
  padding-right: calc(100vw / var(--padding-9)) ;
}

.pr-10, .c-pr-10 > *, .px-10, .c-px-10 > * {
  padding-right: calc(100vw / var(--padding-10)) ;
}

.pr-11, .c-pr-11 > *, .px-11, .c-px-11 > * {
  padding-right: calc(100vw / var(--padding-11)) ;
}

/* Left Padding */

.pl-1, .c-pl-1 > *, .px-1, .c-px-1 > * {
  padding-left: calc(100vw / var(--padding-1)) ;
}

.pl-2, .c-pl-2 > *, .px-2, .c-px-2 > * {
  padding-left: calc(100vw / var(--padding-2)) ;
}

.pl-3, .c-pl-3 > *, .px-3, .c-px-3 > * {
  padding-left: calc(100vw / var(--padding-3)) ;
}

.pl-4, .c-pl-4 > *, .px-4, .c-px-4 > * {
  padding-left: calc(100vw / var(--padding-4)) ;
}

.pl-5, .c-pl-5 > *, .px-5, .c-px-5 > * {
  padding-left: calc(100vw / var(--padding-5)) ;
}

.pl-6, .c-pl-6 > *, .px-6, .c-px-6 > * {
  padding-left: calc(100vw / var(--padding-6)) ;
}

.pl-7, .c-pl-7 > *, .px-7, .c-px-7 > * {
  padding-left: calc(100vw / var(--padding-7)) ;
}

.pl-8, .c-pl-8 > *, .px-8, .c-px-8 > * {
  padding-left: calc(100vw / var(--padding-8)) ;
}

.pl-9, .c-pl-9 > *, .px-9, .c-px-9 > * {
  padding-left: calc(100vw / var(--padding-9)) ;
}

.pl-10, .c-pl-10 > *, .px-10, .c-px-10 > * {
  padding-left: calc(100vw / var(--padding-10)) ;
}

.pl-11, .c-pl-11 > *, .px-11, .c-px-11 > * {
  padding-left: calc(100vw / var(--padding-11)) ;
}
 

/* Margin */
.m-1, .c-m-1 > * {
  margin: calc(100vh / var(--margin-1)) ;
}
.m-2, .c-m-2 > * {
  margin: calc(100vh / var(--margin-2)) ;
}
.m-3, .c-m-3 > * {
  margin: calc(100vh / var(--margin-3)) ;
}
.m-4, .c-m-4 > * {
  margin: calc(100vh / var(--margin-4)) ;
}
.m-5, .c-m-5 > * {
  margin: calc(100vh / var(--margin-5)) ;
}
.m-6, .c-m-6 > * {
  margin: calc(100vh / var(--margin-6)) ;
}
.m-7, .c-m-7 > * {
  margin: calc(100vh / var(--margin-7)) ;
}
.m-8, .c-m-8 > * {
  margin: calc(100vh / var(--margin-8)) ;
}
.m-9, .c-m-9 > * {
  margin: calc(100vh / var(--margin-9)) ;
}
.m-10, .c-m-10 > * {
  margin: calc(100vh / var(--margin-10)) ;
}
.m-11, .c-m-11 > * {
  margin: calc(100vh / var(--margin-11)) ;
}

/* Top Margin */
.mt-1, .c-mt-1 > *, .my-1, .c-my-1 > * {
  margin-top: calc(100vh / var(--margin-1)) ;
}
.mt-2, .c-mt-2 > *, .my-2, .c-my-2 > * {
  margin-top: calc(100vh / var(--margin-2)) ;
}
.mt-3, .c-mt-3 > *, .my-3, .c-my-3 > * {
  margin-top: calc(100vh / var(--margin-3)) ;
}
.mt-4, .c-mt-4 > *, .my-4, .c-my-4 > * {
  margin-top: calc(100vh / var(--margin-4)) ;
}
.mt-5, .c-mt-5 > *, .my-5, .c-my-5 > * {
  margin-top: calc(100vh / var(--margin-5)) ;
}
.mt-6, .c-mt-6 > *, .my-6, .c-my-6 > * {
  margin-top: calc(100vh / var(--margin-6)) ;
}
.mt-7, .c-mt-7 > *, .my-7, .c-my-7 > * {
  margin-top: calc(100vh / var(--margin-7)) ;
}
.mt-8, .c-mt-8 > *, .my-8, .c-my-8 > * {
  margin-top: calc(100vh / var(--margin-8)) ;
}
.mt-9, .c-mt-9 > *, .my-9, .c-my-9 > * {
  margin-top: calc(100vh / var(--margin-9)) ;
}
.mt-10, .c-mt-10 > *, .my-10, .c-my-10 > * {
  margin-top: calc(100vh / var(--margin-10)) ;
}
.mt-11, .c-mt-11 > *, .my-11, .c-my-11 > * {
  margin-top: calc(100vh / var(--margin-11)) ;
}


/* Bottom Margin */
.mb-1, .c-mb-1 > *, .my-1, .c-my-1 > * {
  margin-bottom: calc(100vh / var(--margin-1)) ;
}
.mb-2, .c-mb-2 > *, .my-2, .c-my-2 > * {
  margin-bottom: calc(100vh / var(--margin-2)) ;
}
.mb-3, .c-mb-3 > *, .my-3, .c-my-3 > * {
  margin-bottom: calc(100vh / var(--margin-3)) ;
}
.mb-4, .c-mb-4 > *, .my-4, .c-my-4 > * {
  margin-bottom: calc(100vh / var(--margin-4)) ;
}
.mb-5, .c-mb-5 > *, .my-5, .c-my-5 > * {
  margin-bottom: calc(100vh / var(--margin-5)) ;
}
.mb-6, .c-mb-6 > *, .my-6, .c-my-6 > * {
  margin-bottom: calc(100vh / var(--margin-6)) ;
}
.mb-7, .c-mb-7 > *, .my-7, .c-my-7 > * {
  margin-bottom: calc(100vh / var(--margin-7)) ;
}
.mb-8, .c-mb-8 > *, .my-8, .c-my-8 > * {
  margin-bottom: calc(100vh / var(--margin-8)) ;
}
.mb-9, .c-mb-9 > *, .my-9, .c-my-9 > * {
  margin-bottom: calc(100vh / var(--margin-9)) ;
}
.mb-10, .c-mb-10 > *, .my-10, .c-my-10 > * {
  margin-bottom: calc(100vh / var(--margin-10)) ;
}
.mb-11, .c-mb-11 > *, .my-11, .c-my-11 > * {
  margin-bottom: calc(100vh / var(--margin-11)) ;
}

 

/* Right Margin */
.mr-1, .c-mr-1 > *, .mx-1, .c-mx-1 > * {
  margin-right: calc(100vh / var(--margin-1)) ;
}
.mr-2, .c-mr-2 > *, .mx-2, .c-mx-2 > * {
  margin-right: calc(100vh / var(--margin-2)) ;
}
.mr-3, .c-mr-3 > *, .mx-3, .c-mx-3 > * {
  margin-right: calc(100vh / var(--margin-3)) ;
}
.mr-4, .c-mr-4 > *, .mx-4, .c-mx-4 > * {
  margin-right: calc(100vh / var(--margin-4)) ;
}
.mr-5, .c-mr-5 > *, .mx-5, .c-mx-5 > * {
  margin-right: calc(100vh / var(--margin-5)) ;
}
.mr-6, .c-mr-6 > *, .mx-6, .c-mx-6 > * {
  margin-right: calc(100vh / var(--margin-6)) ;
}
.mr-7, .c-mr-7 > *, .mx-7, .c-mx-7 > * {
  margin-right: calc(100vh / var(--margin-7)) ;
}
.mr-8, .c-mr-8 > *, .mx-8, .c-mx-8 > * {
  margin-right: calc(100vh / var(--margin-8)) ;
}
.mr-9, .c-mr-9 > *, .mx-9, .c-mx-9 > * {
  margin-right: calc(100vh / var(--margin-9)) ;
}
.mr-10, .c-mr-10 > *, .mx-10, .c-mx-10 > * {
  margin-right: calc(100vh / var(--margin-10)) ;
}
.mr-11, .c-mr-11 > *, .mx-11, .c-mx-11 > * {
  margin-right: calc(100vh / var(--margin-11)) ;
}

/* Left Margin */
.ml-1, .c-ml-1 > *, .mx-1, .c-mx-1 > * {
  margin-left: calc(100vh / var(--margin-1)) ;
}
.ml-2, .c-ml-2 > *, .mx-2, .c-mx-2 > * {
  margin-left: calc(100vh / var(--margin-2)) ;
}
.ml-3, .c-ml-3 > *, .mx-3, .c-mx-3 > * {
  margin-left: calc(100vh / var(--margin-3)) ;
}
.ml-4, .c-ml-4 > *, .mx-4, .c-mx-4 > * {
  margin-left: calc(100vh / var(--margin-4)) ;
}
.ml-5, .c-ml-5 > *, .mx-5, .c-mx-5 > * {
  margin-left: calc(100vh / var(--margin-5)) ;
}
.ml-6, .c-ml-6 > *, .mx-6, .c-mx-6 > * {
  margin-left: calc(100vh / var(--margin-6)) ;
}
.ml-7, .c-ml-7 > *, .mx-7, .c-mx-7 > * {
  margin-left: calc(100vh / var(--margin-7)) ;
}
.ml-8, .c-ml-8 > *, .mx-8, .c-mx-8 > * {
  margin-left: calc(100vh / var(--margin-8)) ;
}
.ml-9, .c-ml-9 > *, .mx-9, .c-mx-9 > * {
  margin-left: calc(100vh / var(--margin-9)) ;
}
.ml-10, .c-ml-10 > *, .mx-10, .c-mx-10 > * {
  margin-left: calc(100vh / var(--margin-10)) ;
}
.ml-11, .c-ml-11 > *, .mx-11, .c-mx-11 > * {
  margin-left: calc(100vh / var(--margin-11)) ;
}/* Text Size */
.text-xxs  {
    font-size: var(--xxsmall-text);
}
.text-xs {
    font-size: var(--xsmall-text);
}
.text-s {
    font-size: var(--small-text);
}
.text-m {
    font-size: var(--medium-text);
}
.text-l {
    font-size: var(--large-text);
}
.text-xl {
    font-size: var(--xlarge-text);
}
.text-xxl {
    font-size: var(--xxlarge-text);
}
.text-xxxl {
    font-size: var(--xxxlarge-text);
}

/* Subtitles */
.subtitle-1 {
    font-weight: 100;
    letter-spacing: 0.05em;
}
.subtitle-2 {
    font-weight: 200;
    letter-spacing: -0.03em;
}

/* Text Transformations */
.uppercase, .c-uppercase > * {
    text-transform: uppercase;
}
.lowercase, .c-lowercase > * {
    text-transform: lowercase;
}
.capitalize, .c-capitalize > * {
    text-transform: capitalize;
}

/* Text Weights */
.extra-thin, .c-extra-thin > * {
    font-weight: 100;
}
.thin, .c-thin > * {
    font-weight: 200;
}
.light, .c-light > * {
    font-weight: 300;
}
.normal, .c-normal > * {
    font-weight: 400;
}
.medium, .c-medium > * {
    font-weight: 500;
}
.semi-bold, .c-semi-bold > * {
    font-weight: 600;
}
.bold, .c-bold > * {
    font-weight: 700;
}
.extra-bold, .c-extra-bold > * {
    font-weight: 800;
}
.hefty, .c-hefty > * {
    font-weight: 900;
}

/* Text Alignment */
.text-center, .c-text-center > * {
    text-align: center;
}
.text-right, .c-text-right > * {
    text-align: right;
}
.text-left, .c-text-left > * {
    text-align: left;
}
.text-justify, .c-text-justify > * {
    text-align: justify;
}

/* Custom Fonts */

.custom-font-1 {
 font-family: var(--custom-font-1);   
}
.custom-font-2 {
 font-family: var(--custom-font-2);   
}



/* MISC */
.text-nowrap { white-space: nowrap; }
.italic { font-style: italic; }
.underline { text-decoration: underline; }
.strikethrough { text-decoration: line-through; }

.word-spacing-1, .c-word-spacing-1 > * { word-spacing: 1vw; }
.word-spacing-2, .c-word-spacing-2 > * { word-spacing: 2vw; }
.word-spacing-3, .c-word-spacing-3 > * { word-spacing: 3vw; }
.word-spacing-4, .c-word-spacing-4 > * { word-spacing: 4vw; }

.break {
    word-break: break-all;
    width: .5ch;
}

.text-v-rl, .c-text-v-rl > * { writing-mode: vertical-rl; }
.text-v-lr, .c-text-v-lr > * { writing-mode: vertical-lr; }/* Generic Colors */

.red, .c-red > * {
  background-color: var(--is-red);
  color: var(--is-text-color-inverted);
}
.blue, .c-blue > * {
  background-color: var(--is-blue);
  color: var(--is-text-color-inverted);
}
.green, .c-green > * {
  background-color: var(--is-green) !important;
  color: var(--is-text-color);
}
.orange, .c-orange > * {
  background-color: var(--is-orange);
  color: var(--is-text-color-inverted);
}
.purple, .c-purple > * {
  background-color: var(--is-purple);
  color: var(--is-text-color-inverted);
}
.pink, .c-pink > * {
  background-color: var(--is-pink);
  color: var(--is-text-color-inverted);
}
.black, .c-black > * {
  background-color: var(--is-black) ;
  color: var(--is-text-color-inverted) ;
}
.gray, .c-gray > * {
  background-color: var(--is-gray) ;
  color: var(--is-text-color-inverted) ;
}
.dark-gray, .c-dark-gray > * {
  background-color: var(--is-dark-gray) ;
  color: var(--is-text-color-inverted) ;
}
.yellow, .c-yellow > * {
  background-color: var(--is-yellow) ;
  color: var(--is-text-color) ;
}
.white, .c-white > * {
  background-color: var(--is-white) ;
  color: var(--is-text-color) ;
}


.gradient-lr-warm {
  background-image: linear-gradient(
    to right,
    var(--is-graident-warm-pt-1),
    var(--is-graident-warm-pt-2),
    var(--is-graident-warm-pt-3),
    var(--is-graident-warm-pt-4),
    var(--is-graident-warm-pt-5)
  );
}
.gradient-rl-warm {
  background-image: linear-gradient(
    to left,
    var(--is-graident-warm-pt-1),
    var(--is-graident-warm-pt-2),
    var(--is-graident-warm-pt-3),
    var(--is-graident-warm-pt-4),
    var(--is-graident-warm-pt-5)
  );
}
.gradient-tb-warm {
  background-image: linear-gradient(
    to top,
    var(--is-graident-warm-pt-1),
    var(--is-graident-warm-pt-2),
    var(--is-graident-warm-pt-3),
    var(--is-graident-warm-pt-4),
    var(--is-graident-warm-pt-5)
  );
}
.gradient-bt-warm {
  background-image: linear-gradient(
    to bottom,
    var(--is-graident-warm-pt-1),
    var(--is-graident-warm-pt-2),
    var(--is-graident-warm-pt-3),
    var(--is-graident-warm-pt-4),
    var(--is-graident-warm-pt-5)
  );
}

.gradient-lr-cold {
  background-image: linear-gradient(
    to right,
    var(--is-gradient-cold-pt-1),
    var(--is-gradient-cold-pt-2),
    var(--is-gradient-cold-pt-3),
    var(--is-gradient-cold-pt-4),
    var(--is-gradient-cold-pt-5)

  );
}
.gradient-rl-cold {
  background-image: linear-gradient(
    to left,
    var(--is-gradient-cold-pt-1),
    var(--is-gradient-cold-pt-2),
    var(--is-gradient-cold-pt-3),
    var(--is-gradient-cold-pt-4),
    var(--is-gradient-cold-pt-5)
  );
}
.gradient-tb-cold {
  background-image: linear-gradient(
    to top,
    var(--is-gradient-cold-pt-1),
    var(--is-gradient-cold-pt-2),
    var(--is-gradient-cold-pt-3),
    var(--is-gradient-cold-pt-4),
    var(--is-gradient-cold-pt-5)
  );
}
.gradient-bt-cold {
  background-image: linear-gradient(
    to bottom,
    var(--is-gradient-cold-pt-1),
    var(--is-gradient-cold-pt-2),
    var(--is-gradient-cold-pt-3),
    var(--is-gradient-cold-pt-4),
    var(--is-gradient-cold-pt-5)
  );
}

.gradient-lr-bw {
background: linear-gradient(to right,#fff,#fff,#efefef,#d3d3d3);
}
.gradient-rl-bw {
  background: linear-gradient(to left,#fff,#fff,#efefef,#d3d3d3);
}
.gradient-tb-bw {
  background: linear-gradient(to top,#fff,#fff,#efefef,#d3d3d3);
}
.gradient-bt-bw {
  background: linear-gradient(to bottom,#fff,#fff,#efefef,#d3d3d3);
}

/* Photo Filters */

.grayscale, .c-grayscale > * { filter: grayscale(100%); }
.contrast, .c-contrast > * { filter: contrast(200%); }
.hue-rotate, .c-hue-rotate > * { filter: hue-rotate(90deg); }
.blur, .c-blur > * { filter: blur(5px); }

/* Brighten Colors */

.brighten-1, .c-brighten-1 > * {
box-shadow: inset 0 9000px 0px rgba(255, 255, 255, 0.1);
}
.brighten-2, .c-brighten-2 > * {
  box-shadow: inset 0 9000px 0px rgba(255, 255, 255, 0.2);
}
.brighten-3, .c-brighten-3 > * {
  box-shadow: inset 0 9000px 0px rgba(255, 255, 255, 0.3);
}
.brighten-4, .c-brighten-4 > * {
  box-shadow: inset 0 9000px 0px rgba(255, 255, 255, 0.4);
}
.brighten-5, .c-brighten-5 > * {
  box-shadow: inset 0 9000px 0px rgba(255, 255, 255, 0.5);
}
.brighten-6, .c-brighten-6 > * {
  box-shadow: inset 0 9000px 0px rgba(255, 255, 255, 0.6);
}
.brighten-7, .c-brighten-7 > * {
  box-shadow: inset 0 9000px 0px rgba(255, 255, 255, 0.7);
}

/* Darken Colors*/

.darken-1, .c-darken-1 > * { box-shadow: inset 0 9000px 0px rgba(0, 0, 0, 0.1); }
.darken-2, .c-darken-2 > * { box-shadow: inset 0 9000px 0px rgba(0, 0, 0, 0.2); }
.darken-3, .c-darken-3 > * { box-shadow: inset 0 9000px 0px rgba(0, 0, 0, 0.3); }
.darken-4, .c-darken-4 > * { box-shadow: inset 0 9000px 0px rgba(0, 0, 0, 0.4); }
.darken-5, .c-darken-5 > * { box-shadow: inset 0 9000px 0px rgba(0, 0, 0, 0.5); }
.darken-6, .c-darken-6 > * { box-shadow: inset 0 9000px 0px rgba(0, 0, 0, 0.6); }
.darken-7, .c-darken-7 > * { box-shadow: inset 0 9000px 0px rgba(0, 0, 0, 0.7); }/* Device Settings */

/* Mobile */
@media screen and (max-width: 768px) {
    .is-hidden-mobile, .c-hidden-mobile > * {
        display: none;
    }
    .is-invisible-mobile, .c-invisible-mobile > * {
        visibility: hidden;
    }
    .is-fullsize-mobile, .c-fullsize-mobile > * {
        flex-basis: 100%;
        flex-grow: 1;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .is-hidden-tablet, .c-hidden-tablet > * {
        display: none;
    }
    .is-invisible-tablet, .c-invisible-tablet > * {
        visibility: hidden;
    }
    .is-fullsize-tablet, .c-fullsize-tablet > * {
        flex-basis: 100%;
        flex-grow: 1;
    }
}

/* Touch (Mobile, Tablet) */

@media screen and (max-width: 1024px) {
    .is-hidden-touch, .c-hidden-touch > * {
        display: none;
    }
    .is-invisible-touch, .c-invisible-touch > * {
        visibility: hidden;
    }
    .is-fullsize-touch, .c-fullsize-touch > * {
        flex-basis: 100%;
        flex-grow: 1;
    }
}

/* Laptop */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .is-hidden-laptop, .c-hidden-laptop > * {
        display: none;
    }
    .is-invisible-laptop, .c-invisible-laptop > * {
        visibility: hidden;
    }
    .is-fullsize-laptop, .c-fullsize-laptop > * {
        flex-basis: 100%;
        flex-grow: 1;
    }

}

/* Portable (Mobile, Tablet, Laptop) */

@media screen and (max-width: 1440px) {
    .is-hidden-portable, .c-hidden-portable > * {
        display: none;
    }
    .is-invisible-portable, .c-invisible-portable > * {
        visibility: hidden;
    }
    .is-fullsize-portable, .c-fullsize-portable > * {
        flex-basis: 100%;
        flex-grow: 1;
    }
}

/* Desktop  */

@media screen and (min-width: 1441px) {
    .is-hidden-desktop, .c-hidden-desktop > * {
        display: none;
    }
    .is-invisible-desktop, .c-invisible-desktop > * {
        visibility: hidden;
    }
    .is-fullsize-desktop, .c-fullsize-desktop > * {
        flex-basis: 100%;
        flex-grow: 1;
    }

    .h-scroll {
        height: max-content !important;
    }

    .one-sixth-desktop {
        flex-basis: 16.666666666666664%;
        flex-grow: 0;
    }
    .one-half-desktop {
        flex-basis: 50%;
        flex-grow: 0;
    }

    .two-thirds-desktop {
        flex-basis: 66.66666666666666%;
        flex-grow: 0;
    }
}

/* Computers (Laptop, Desktop) */

@media screen and (min-width: 1024px) {
    .is-hidden-computer, .c-hidden-computer > * {
        display: none;
    }
    .is-invisible-computer, .c-invisible-computer > * {
        visibility: hidden;
    }
    .is-fullsize-computer, .c-fullsize-computer > * {
        flex-basis: 100%;
        flex-grow: 1;
    }

    .h-scroll {
        height: max-content !important;
    }

    .one-sixth-computer {
        flex-basis: 16.666666666666664%;
        flex-grow: 0;
    }
    .one-half-computer {
        flex-basis: 50%;
        flex-grow: 0;
    }

    .two-thirds-computer {
        flex-basis: 66.66666666666666%;
        flex-grow: 0;
    }
}

/* Search Inputs */

.is-search-input-1 {
    border: none;
    background: transparent;
}

.is-search-input-1:focus {
    outline: 0;
}