/* EmdashCSS by @lbliii - https://emdash.dev; https://github.com/lbliii/emdashCSS */
:root {
    --is-font-family: 'Montserrat', sans-serif;
    --is-header-line-height: 80%;
    --xxsmall-text: calc(8px); 
    --xsmall-text: calc(12px);
    --small-text: calc(16px + 0vw);
    --medium-text: calc(16px + 1vw);
    --large-text: calc(16px + 1.5vw);
    --xlarge-text: calc(16px + 2vw);
    --xxlarge-text: calc(16px + 2.5vw);
    --xxxlarge-text: calc(16px + 5vw);  

    --spacing-1: 90;
    --spacing-2: 60;
    --spacing-3: 40;
    --spacing-4: 20;
    --spacing-5: 8;
    --spacing-6: 4;
    --spacing-7: 2;

    --is-text-color:  var(--is-black);
    --is-text-color-inverted: var(--is-white);
    --is-shadow-color: var(--is-dark-gray);
    --is-highlight-color: var(--is-purple);
    --is-code-color: var(--is-gray);

    --is-info-color: var(--is-blue);
    --is-info-text: var(--is-white);; 
    --is-success-color: var(--is-green);
    --is-success-text: var(--is-white);
    --is-warning-color: var(--is-yellow);
    --is-warning-text: var(--is-black);
    --is-danger-color: var(--is-red);
    --is-danger-text: var(--is-white);
    
    --is-red: #ff0000;
    --is-green: #00ff00;
    --is-blue: #0000ff;
    --is-yellow: #ffff00;
    --is-orange: #ff8000;
    --is-purple: #582f6b;
    --is-pink: #ff0080;
    --is-white: #ffffff;
    --is-black: #212529;
    --is-gray: #808080;
    --is-dark-gray: #404040;
    --is-graident-warm-pt-1: #ff0000;
    --is-graident-warm-pt-2: #ff4000;
    --is-graident-warm-pt-3: #ff8000;
    --is-graident-warm-pt-4: #ffbf00;
    --is-graident-warm-pt-5: #ffff00;
    --is-gradient-cold-pt-1: #5393A5;
    --is-gradient-cold-pt-2: #4E6587;
    --is-gradient-cold-pt-3: #4B5379;
    --is-gradient-cold-pt-4: #4A3D6A;
    --is-gradient-cold-pt-5: #582f6b;

    --rounded-1: 5px;
    --rounded-2: 10px; 
    --rounded-3: 15px;
    --rounded-4: 20px;
    --rounded-5: 25px;
    --rounded-6: 30px;
    --rounded-7: 100%;

    --pattern-1: url(/images/patty.svg) repeat;
    --pattern-2: url(/images/patty.svg2) repeat;

    --layer-angle-1: 1deg;
    --layer-angle-2: -1deg;

    --ghoul-1: 10px;
    --ghoul-2: 20px;
    --ghoul-3: 30px;
    --ghoul-4: 40px;
    --ghoul-5: 50px;
    --ghoul-6: 100px;
    --ghoul-7: 200px;
}
html, body { 
  font-family: var(--is-font-family); 
  color: var(--is-text-color); 
}

body, div, section, button, h1, h2, h3, h4, h5, h6  {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--is-link-color);
}
a:hover, button:hover, .label:hover { opacity: 0.7; }

b {
    background: linear-gradient(0.25turn, var(--is-gradient-cold-pt-1), var(--is-gradient-cold-pt-2),var(--is-gradient-cold-pt-3),var(--is-gradient-cold-pt-4),var(--is-gradient-cold-pt-5)); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




/* Headers */

h1, h2, h3, h4, h5, h6 { line-height: var(--is-header-line-height) }

h1 { font-size: var(--xxxlarge-text); }
h2 { font-size: var(--xxlarge-text); }
h3 { font-size: var(--xlarge-text); }
h4 { font-size: var(--large-text); }
h5 { font-size: var(--medium-text); }
h6 { font-size: var(--small-text); }

hr {
    margin-top: var(--large-text);
    margin-bottom: var(--large-text);
}

p { font-size:  var(--small-text); }

::selection {
    background: var(--is-highlight-color);
    color: var(--is-text-color-inverted);
}

/* Tables */

table {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 2em;
}

table * { padding: 0px; }

table > thead > tr {
    display: flex;
    flex-direction: row;
    border-bottom: 1px dotted var(--is-gray);
}

table > thead > tr > th {
    flex: 1;
    text-align: left;
}
table > tbody * { width: 100%; }

table > tbody > tr {
    display: flex;
    flex: 1;        
}

/* Nested Lists */

:is(.directory, nav) ul > li { list-style: none; }

ul, ol { padding-inline-start: 1vw; }

.content :is(ol,ul) > li { margin-left: 5vw; } /* Flexbox Layout System */

/* Layer things horizontally */

:is(.layer-right, .layer-center) {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
}

.layer-right::-webkit-scrollbar, .layer-center::-webkit-scrollbar, .slide::-webkit-scrollbar { display: none; }

.layer-right  { justify-content: flex-end; }

.layer-center { justify-content: center; }

:is(.layer-right, .layer-center) > div:first-child { margin-left: inherit; }

.layer-right  > div:last-child { margin-right: inherit; }

:is(.layer-right, .layer-center) > div:not(first-child) {
    margin-left: calc(-20vh);
    transform: rotate(var(--layer-angle-1))
}

:is(.layer-right, .layer-center) > div:hover {
    transform: rotate(0deg);
    z-index: 999;
}

/* Reverse Layers */

:is(.layer, .layer-left, .layer-right-reverse, .layer-center-reverse) {
    display: flex;
    flex-flow: row-reverse nowrap;
    overflow-x: scroll;
}

.layer::-webkit-scrollbar, .layer-left::-webkit-scrollbar, .layer-right::-webkit-scrollbar, .layer-center::-webkit-scrollbar { display: none; }

.layer, .layer-left{ justify-content: flex-end; }

.layer-right-reverse  { justify-content: flex-start; }

.layer-center-reverse { justify-content: center; }

:is(.layer, .layer-left, .layer-right-reverse, .layer-center-reverse) > div:last-child { margin-left: inherit; }

.layer-right-reverse  > div:first-child { margin-right: inherit; }

:is(.layer, .layer-left, .layer-right-reverse, .layer-center-reverse) > div:not(first-child) {
    margin-left: calc(-20vh);
    transform: rotate(1deg)
}

:is( .layer, .layer-left, .layer-right-reverse, .layer-center-reverse) > div:hover {
    transform: rotate(0deg);
    z-index: 999;
}

/* Spread things horizontally */

:is(.spread, .spread-left, .spread-right, .spread-around, .spread-center, .spread-stretch, .spread-between, .c-spread > *) {
    display: flex;
    flex-flow: row wrap;
    scroll-snap-type: y mandatory;
}

:is(.spread, .spread-left, .spread-right, .spread-around, .spread-center, .spread-stretch, .spread-between) > * { flex: 1; }

.spread, .c-spread > * { justify-content: space-between; }

.spread-left { justify-content: flex-start; }

.spread-right { justify-content: flex-end; }

.spread-center {
    justify-content: center;
    align-items: center;
}

.spread-around { justify-content: space-around; }

.spread-between { justify-content: space-between; }

/*  Spread  Item Sizes */

.is-full, .c-full  > * { flex-basis: 100%; }

.is-half, .c-half  > * {
    flex-basis: 50%;
    flex-grow: 0;
}

.is-one-third, .c-one-third  > * {
    flex-basis: 33.33333%;
    flex-grow: 0;
}

.is-two-thirds, .c-two-thirds  > * {
    flex-basis: 66.66667%;
    flex-grow: 0;
}

.is-one-fourth, .c-one-fourth  > * {
    flex-basis: 25%;
    flex-grow: 0;
}

.is-three-fourths, .c-three-fourths  > * {
    flex-basis: 75%;
    flex-grow: 0;
}

.is-one-fifth, .c-one-fifth  > * {
    flex-basis: 20%;
    flex-grow: 0;
}

.is-two-fifths, .c-two-fifths  > * {
    flex-basis: 40%;
    flex-grow: 0;

}

.is-three-fifths, .c-three-fifths  > * {
    flex-basis: 60%;
    flex-grow: 0;
}

.is-four-fifths, .c-four-fifths  > * {
    flex-basis: 80%;
    flex-grow: 0;
}

/* Stack things vertically */

:is(.stack, .stack-left, .stack-center, .stack-right, .c-stack > *) {
    display:flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
}

.stack-left { align-items: baseline; }

.stack-center { align-items: center; }

.stack-right { align-items: flex-end; }

:is(.stack, .stack-left, .stack-right, .stack-center ) > * { flex: 1; }


/* Slide */

.slide {
    display: flex;
    flex-flow: row nowrap;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
}

.slide-reverse {
    display: flex;
    flex-flow: row-reverse nowrap;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
}

:is(.slide, .slide-reverse) > * {
    flex-shrink: 0;
    scroll-snap-align: center;
}

/* Content */

ol li::marker {
    color: var(--is-purple);
    font-weight: 700;
    display: inline-block;
}

:is(.content) > :is(h1, h2, h3, h4, h5, h6) { margin-top: var(--xxxlarge-text); }

.content  code, pre { 
  max-width: 70%;
  white-space: pre-wrap;
  padding: 1ch;
  margin: 1ch;
  overflow-x: scroll;
  font-weight: 100;
  color: var(--is-code-color);
 }

 .content {
  overflow-x: hidden;
 }

 .content  img {
  max-width: 100%;
 }

/* breadcrumb */

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.breadcrumb::after {
    content: "/";
    margin: 0 0.5em;
    color: var(--is-grey);
}

.breadcrumb:last-child::after { content: ""; }

/* buttons */

button, .button {
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    color: inherit;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

/* Labels  */ 
 
.label {
    flex: 0;
    white-space: nowrap;
    display: inline-flex;
    align-items: center; 
    background-color: inherit;
    color: inherit;
}

/* Images */

.image {
    display: block;
    max-width: 100%;
    height: auto;
}


.image-1x1 {
    aspect-ratio: 1 / 1;
    width: 100%;
}

.image-1x2 {
    aspect-ratio: 1 / 2;
    width: 100%;
}

.image-2x1 {
    aspect-ratio: 2 / 1;
    width: 100%;
    
}

.image-3x2 {
    aspect-ratio: 3 / 2;
    width: 100%;
}

.image-4x3 {
    aspect-ratio: 4 / 3;
    width: 100%;
}

.image-16x9 {
    aspect-ratio: 16 / 9;
    width: 100%;
}

.anchor {
    color: var(--is-purple) !important;
    font-size: .5em;
    font-weight: 900;
    float: left;
    margin-left: -1ch;

}
/* Animations */
.move-l:hover, .c-move-l:hover > :hover {
  animation-duration: 2s;
  animation-name: move-l;
  animation-iteration-count: infinite;
}
.move-r:hover, .c-move-r:hover > :hover {
  animation-duration: 2s;
  animation-name: move-r;
  animation-iteration-count: infinite;
}
.move-u:hover, .c-move-u:hover > :hover {
  animation-duration: 2s;
  animation-name: move-u;
  animation-iteration-count: infinite;
}
.move-d:hover, .c-move-d:hover > :hover {
  animation-duration: 2s;
  animation-name: move-d;
  animation-iteration-count: infinite;
}
 

@keyframes move-l {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes move-r {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes move-u {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes move-d {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(1%);
  }
  100% {
    transform: translateY(0);
  }
}


 


/* Stick to Top  */
.sticky {
  position: sticky;
  top:0;
}

/* Fit */
.is-fit, .c-fit > * {
  max-width: fit-content !important;
  flex: none !important;
}
.is-fit-x, .c-fit-x > * {
    max-width: fit-content !important;
}
.is-fit-y, .c-fit-y > * {
   flex: none !important;
}

/* Spread and Stack item alignment */

.pinned-center {
    align-self: center;
}
.pinned-top {
    align-self: flex-start;
}
.pinned-bottom {
    align-self: flex-end;
}
.stretched {
  display: flex;
  align-self: stretch;
}

.pinned-baseline {
    align-self: baseline;
}

.c-pinned-center {
    align-items: center;
}
.c-pinned-top {
    align-items: flex-start;
}
.c-pinned-bottom {
    align-items: flex-end;
}
.c-stretched {
    align-items: stretch;
}
.c-pinned-baseline {
    align-items: baseline;
}

/* Round the Object  */
.rounded-1, .c-rounded-1 > * {
  border-radius: var(--rounded-1) !important;
}
.rounded-2, .c-rounded-2 > * {
  border-radius: var(--rounded-2) !important;
}
.rounded-3, .c-rounded-3 > * {
  border-radius: var(--rounded-3) !important;
}
.rounded-4, .c-rounded-4 > * {
  border-radius: var(--rounded-4) !important;
}
.rounded-5, .c-rounded-5 > * {
    border-radius: var(--rounded-5) !important;
}
.rounded-6, .c-rounded-6 > * {
    border-radius: var(--rounded-6) !important;
}
.rounded-7, .c-rounded-7 > * {
    border-radius: var(--rounded-7) !important;
}


/* Outline the Object */
.outlined, .c-outlined > * {
    border: 1px solid currentColor;
}
.outlined-black, .c-outlined-black > * {
    border: 1px solid #000;
}
.outlined-white, .c-outlined-white > * {
    border: 1px solid #fff;
}


/* Device Settings */

/* Mobile */
@media screen and (max-width: 768px) {
    .is-hidden-mobile, .c-hidden-mobile > * {
        display: none;
    }
    .is-invisible-mobile, .c-invisible-mobile > * {
        visibility: hidden;
    }
    .is-fullsize-mobile, .c-fullsize-mobile > * {
        flex-basis: 100%;
        flex-grow: 1;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .is-hidden-tablet, .c-hidden-tablet > * {
        display: none;
    }
    .is-invisible-tablet, .c-invisible-tablet > * {
        visibility: hidden;
    }
    .is-fullsize-tablet, .c-fullsize-tablet > * {
        flex-basis: 100%;
        flex-grow: 1;
    }
}

/* Touch */

@media screen and (max-width: 1024px) {
    .is-hidden-touch, .c-hidden-touch > * {
        display: none;
    }
    .is-invisible-touch, .c-invisible-touch > * {
        visibility: hidden;
    }
    .is-fullsize-touch, .c-fullsize-touch > * {
        flex-basis: 100%;
        flex-grow: 1;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .is-hidden-desktop, .c-hidden-desktop > * {
        display: none;
    }
    .is-invisible-desktop, .c-invisible-desktop > * {
        visibility: hidden;
    }
    .is-fullsize-desktop, .c-fullsize-desktop > * {
        flex-basis: 100%;
        flex-grow: 1;
    }

}

/* Miscellaneous */
.wrapless, .c-wrapless > * {
    white-space: nowrap;
}

/* Pattern */
.display-pattern, .c-display-pattern > * {
    background: var(--pattern-1);
}
.display-pattern2, .c-display-pattern2 > * {
    background: var(--pattern-2);
}


/* Z Index */
.level-top {
    z-index: 9999;
}
.level-bottom {
    z-index: -9999;
}

/* Cast shade */
.shadow-u-1, .c-shadow-u-1 > * {
  filter: drop-shadow(0px -4px 5px var(--is-shadow-color));
}
.shadow-u-2, .c-shadow-u-2 > * {
  filter: drop-shadow(0px -8px 10px var(--is-shadow-color));
}
.shadow-u-3, .c-shadow-u-3 > * {
  filter: drop-shadow(0px -16px 20px var(--is-shadow-color));
}
.shadow-d-1, .c-shadow-d-1 > * {
  filter: drop-shadow(0px 4px 5px var(--is-shadow-color));
}
.shadow-d-2, .c-shadow-d-2 > * {
  filter: drop-shadow(0px 8px 10px var(--is-shadow-color));
}
.shadow-d-3, .c-shadow-d-3 > * {
  filter: drop-shadow(0px 16px 20px var(--is-shadow-color));
}
.shadow-l-1, .c-shadow-l-1 > * {
  filter: drop-shadow(-4px 0px 5px var(--is-shadow-color));
}
.shadow-l-2, .c-shadow-l-2 > * {
  filter: drop-shadow(-8px 0px 10px var(--is-shadow-color));
}
.shadow-l-3, .c-shadow-l-3 > * {
  filter: drop-shadow(-16px 0px 20px var(--is-shadow-color));
}
.shadow-r-1, .c-shadow-r-1 > * {
  filter: drop-shadow(4px 0px 5px var(--is-shadow-color));
}
.shadow-r-2, .c-shadow-r-2 > * {
  filter: drop-shadow(8px 0px 10px var(--is-shadow-color));
}
.shadow-r-3, .c-shadow-r-3 > * {
  filter: drop-shadow(16px 0px 20px var(--is-shadow-color));
}
.shadow-ul-1, .c-shadow-ul-1 > * {
  filter: drop-shadow(-4px -4px 5px var(--is-shadow-color));
}
.shadow-ul-2, .c-shadow-ul-2 > * {
  filter: drop-shadow(-8px -8px 10px var(--is-shadow-color));
}
.shadow-ul-3, .c-shadow-ul-3 > * {
  filter: drop-shadow(-16px -16px 20px var(--is-shadow-color));
}
.shadow-ur-1, .c-shadow-ur-1 > * {
  filter: drop-shadow(4px -4px 5px var(--is-shadow-color));
}
.shadow-ur-2, .c-shadow-ur-2 > * {
  filter: drop-shadow(8px -8px 10px var(--is-shadow-color));
}
.shadow-ur-3, .c-shadow-ur-3 > * {
  filter: drop-shadow(16px -16px 20px var(--is-shadow-color));
}
.shadow-dr-1, .c-shadow-dr-1 > * {
  filter: drop-shadow(4px 4px 5px var(--is-shadow-color));
}
.shadow-dr-2, .c-shadow-dr-2 > * {
  filter: drop-shadow(8px 8px 10px var(--is-shadow-color));
}
.shadow-dr-3, .c-shadow-dr-3 > * {
  filter: drop-shadow(16px 16px 20px var(--is-shadow-color));
}
.shadow-dl-1, .c-shadow-dl-1 > * {
  filter: drop-shadow(-4px 4px 5px var(--is-shadow-color));
}
.shadow-dl-2, .c-shadow-dl-2 > * {
  filter: drop-shadow(-8px 8px 10px var(--is-shadow-color));
}
.shadow-dl-3, .c-shadow-dl-3 > * {
  filter: drop-shadow(-16px 16px 20px var(--is-shadow-color));
}


.is-vampire {
  filter: none !important;
}

/* Ghost & Ghouls for using spreads and stacks as color blocks*/
.ghouls-1 > * {
    max-width: var(--ghoul-1);
    max-height: var(--ghoul-1);
    height: var(--ghoul-1);
}
.ghouls-2 > * {
    max-width: var(--ghoul-2);
    max-height: var(--ghoul-2);
    height: var(--ghoul-2);
}
.ghouls-3 > * {
    max-width: var(--ghoul-3);
    max-height: var(--ghoul-3);
    height: var(--ghoul-3);
}
.ghouls-4 > * {
    max-width: var(--ghoul-4);
    max-height: var(--ghoul-4);
    height: var(--ghoul-4);
}
.ghouls-5 > * {
    max-width: var(--ghoul-5);
    max-height: var(--ghoul-5);
    height: var(--ghoul-5);
}
.ghouls-6 > * {
    max-width: var(--ghoul-6);
    max-height: var(--ghoul-6);
    height: var(--ghoul-6);
}
.ghouls-7 > * {
    max-width: var(--ghoul-7);
    max-height: var(--ghoul-7);
    height: var(--ghoul-7);
}

.ghost-1 {
    height: 1px;
}
.ghost-2 {
    height: 5px;
}
.ghost-3 {
    height: 50px;
}
.ghost-4 {
    height: 100px;
}

.is-invisible, .is-invisible:hover {
    visibility: hidden;
}

.is-hidden {
    display: none;
}

.fill-h {
    height: max-content;
}/* Spacing */

.sp-1, .c-sp-1 > * {
  padding-top: calc(100vh / var(--spacing-1));
  padding-bottom: calc(100vh / var(--spacing-1));
  padding-left: calc(100vw / var(--spacing-1));
  padding-right: calc(100vw / var(--spacing-1));
  margin-top: calc(100vh / var(--spacing-1));
  margin-bottom: calc(100vh / var(--spacing-1));
  margin-left: calc(100vw / var(--spacing-1));
  margin-right: calc(100vw / var(--spacing-1));
}

.sp-2, .c-sp-2 > * {
  padding-top: calc(100vh / var(--spacing-2));
  padding-bottom: calc(100vh / var(--spacing-2));
  padding-left: calc(100vw / var(--spacing-2));
  padding-right: calc(100vw / var(--spacing-2));
  margin-top: calc(100vh / var(--spacing-2));
  margin-bottom: calc(100vh / var(--spacing-2));
  margin-left: calc(100vw / var(--spacing-2)) ;
  margin-right: calc(100vw / var(--spacing-2));
}

.sp-3, .c-sp-3 > * {
  padding-top: calc(100vh / var(--spacing-3));
  padding-bottom: calc(100vh / var(--spacing-3));
  padding-left: calc(100vw / var(--spacing-3));
  padding-right: calc(100vw / var(--spacing-3));
  margin-top: calc(100vh / var(--spacing-3));
  margin-bottom: calc(100vh / var(--spacing-3));
  margin-left: calc(100vw / var(--spacing-3));
  margin-right: calc(100vw / var(--spacing-3));
}

.sp-4, .c-sp-4 > * {
  padding-top: calc(100vh / var(--spacing-4));
  padding-bottom: calc(100vh / var(--spacing-4));
  padding-left: calc(100vw / var(--spacing-4));
  padding-right: calc(100vw / var(--spacing-4));
  margin-top: calc(100vh / var(--spacing-4));
  margin-bottom: calc(100vh / var(--spacing-4));
  margin-left: calc(100vw / var(--spacing-4));
  margin-right: calc(100vw / var(--spacing-4));
}

.sp-5, .c-sp-5 > * {
  padding-top: calc(100vh / var(--spacing-5));
  padding-bottom: calc(100vh / var(--spacing-5));
  padding-left: calc(100vw / var(--spacing-5));
  padding-right: calc(100vw / var(--spacing-5));
  margin-top: calc(100vh / var(--spacing-5));
  margin-bottom: calc(100vh / var(--spacing-5));
  margin-left: calc(100vw / var(--spacing-5)) ;
  margin-right: calc(100vw / var(--spacing-5)) ;
}

.sp-6, .c-sp-6 > * {
  padding-top: calc(100vh / var(--spacing-6)) ;
  padding-bottom: calc(100vh / var(--spacing-6)) ;
  padding-left: calc(100vw / var(--spacing-6)) ;
  padding-right: calc(100vw / var(--spacing-6)) ;
  margin-top: calc(100vh / var(--spacing-6)) ;
  margin-bottom: calc(100vh / var(--spacing-6)) ;
  margin-left: calc(100vw / var(--spacing-6)) ;
  margin-right: calc(100vw / var(--spacing-6)) ;
}

.sp-7, .c-sp-7 > * {
  padding-top: calc(100vh / var(--spacing-7)) ;
  padding-bottom: calc(100vh / var(--spacing-7)) ;
  padding-left: calc(100vw / var(--spacing-7)) ;
  padding-right: calc(100vw / var(--spacing-7)) ;
  margin-top: calc(100vh / var(--spacing-7)) ;
  margin-bottom: calc(100vh / var(--spacing-7)) ;
  margin-left: calc(100vw / var(--spacing-7)) ;
  margin-right: calc(100vw / var(--spacing-7)) ;
} 

/*Global Padding*/

.p-1, .c-p-1 > * {
  padding-top: calc(100vh / var(--spacing-1)) ;
  padding-bottom: calc(100vh / var(--spacing-1)) ;
  padding-left: calc(100vw / var(--spacing-1)) ;
  padding-right: calc(100vw / var(--spacing-1)) ;
}

.p-2, .c-p-2 > * {
  padding-top: calc(100vh / var(--spacing-2)) ;
  padding-bottom: calc(100vh / var(--spacing-2)) ;
  padding-left: calc(100vw / var(--spacing-2)) ;
  padding-right: calc(100vw / var(--spacing-2)) ;
}

.p-3, .c-p-3 > * {
  padding-top: calc(100vh / var(--spacing-3)) ;
  padding-bottom: calc(100vh / var(--spacing-3)) ;
  padding-left: calc(100vw / var(--spacing-3)) ;
  padding-right: calc(100vw / var(--spacing-3)) ;
}

.p-4, .c-p-4 > * {
  padding-top: calc(100vh / var(--spacing-4)) ;
  padding-bottom: calc(100vh / var(--spacing-4)) ;
  padding-left: calc(100vw / var(--spacing-4)) ;
  padding-right: calc(100vw / var(--spacing-4)) ;
}

.p-5, .c-p-5 > * {
  padding-top: calc(100vh / var(--spacing-5)) ;
  padding-bottom: calc(100vh / var(--spacing-5)) ;
  padding-left: calc(100vw / var(--spacing-5)) ;
  padding-right: calc(100vw / var(--spacing-5)) ;
}

.p-6, .c-p-6 > * {
  padding-top: calc(100vh / var(--spacing-6)) ;
  padding-bottom: calc(100vh / var(--spacing-6)) ;
  padding-left: calc(100vw / var(--spacing-6)) ;
  padding-right: calc(100vw / var(--spacing-6)) ;
}

.p-7, .c-p-7 > * {
  padding-top: calc(100vh / var(--spacing-7)) ;
  padding-bottom: calc(100vh / var(--spacing-7)) ;
  padding-left: calc(100vw / var(--spacing-7)) ;
  padding-right: calc(100vw / var(--spacing-7)) ;
}

/* Top Padding */

.pt-1, .c-pt-1 > *, .py-1, .c-py-1 > * {
padding-top: calc(100vh / var(--spacing-1)) ;
}

.pt-2, .c-pt-2 > *, .py-2, .c-py-2 > * {
  padding-top: calc(100vh / var(--spacing-2)) ;
}

.pt-3, .c-pt-3 > *, .py-3, .c-py-3 > * {
  padding-top: calc(100vh / var(--spacing-3)) ;
}

.pt-4, .c-pt-4 > *, .py-4, .c-py-4 > * {
  padding-top: calc(100vh / var(--spacing-4)) ;
}

.pt-5, .c-pt-5 > *, .py-5, .c-py-5 > * {
  padding-top: calc(100vh / var(--spacing-5)) ;
}

.pt-6, .c-pt-6 > *, .py-6, .c-py-6 > * {
  padding-top: calc(100vh / var(--spacing-6)) ;
}

.pt-7, .c-pt-7 > *, .py-7, .c-py-7 > * {
  padding-top: calc(100vh / var(--spacing-7)) ;
}

/* Bottom Padding */

.pb-1, .c-pb-1 > *, .py-1, .c-py-1 > * {
  padding-bottom: calc(100vh / var(--spacing-1)) ;
}

.pb-2, .c-pb-2 > *, .py-2, .c-py-2 > * {
  padding-bottom: calc(100vh / var(--spacing-2)) ;
}

.pb-3, .c-pb-3 > *, .py-3, .c-py-3 > * {
  padding-bottom: calc(100vh / var(--spacing-3)) ;
}

.pb-4, .c-pb-4 > *, .py-4, .c-py-4 > * {
  padding-bottom: calc(100vh / var(--spacing-4)) ;
}

.pb-5, .c-pb-5 > *, .py-5, .c-py-5 > * {
  padding-bottom: calc(100vh / var(--spacing-5)) ;
}

.pb-6, .c-pb-6 > *, .py-6, .c-py-6 > * {
  padding-bottom: calc(100vh / var(--spacing-6)) ;
}

.pb-7, .c-pb-7 > *, .py-7, .c-py-7 > * {
  padding-bottom: calc(100vh / var(--spacing-7)) ;
}

/* Right Padding */

.pr-1, .c-pr-1 > *, .px-1, .c-px-1 > * {
  padding-right: calc(100vw / var(--spacing-1)) ;
}

.pr-2, .c-pr-2 > *, .px-2, .c-px-2 > * {
  padding-right: calc(100vw / var(--spacing-2)) ;
}

.pr-3, .c-pr-3 > *, .px-3, .c-px-3 > * {
  padding-right: calc(100vw / var(--spacing-3)) ;
}

.pr-4, .c-pr-4 > *, .px-4, .c-px-4 > * {
  padding-right: calc(100vw / var(--spacing-4)) ;
}

.pr-5, .c-pr-5 > *, .px-5, .c-px-5 > * {
  padding-right: calc(100vw / var(--spacing-5)) ;
}

.pr-6, .c-pr-6 > *, .px-6, .c-px-6 > * {
  padding-right: calc(100vw / var(--spacing-6)) ;
}

.pr-7, .c-pr-7 > *, .px-7, .c-px-7 > * {
  padding-right: calc(100vw / var(--spacing-7)) ;
}

/* Left Padding */

.pl-1, .c-pl-1 > *, .px-1, .c-px-1 > * {
  padding-left: calc(100vw / var(--spacing-1)) ;
}

.pl-2, .c-pl-2 > *, .px-2, .c-px-2 > * {
  padding-left: calc(100vw / var(--spacing-2)) ;
}

.pl-3, .c-pl-3 > *, .px-3, .c-px-3 > * {
  padding-left: calc(100vw / var(--spacing-3)) ;
}

.pl-4, .c-pl-4 > *, .px-4, .c-px-4 > * {
  padding-left: calc(100vw / var(--spacing-4)) ;
}

.pl-5, .c-pl-5 > *, .px-5, .c-px-5 > * {
  padding-left: calc(100vw / var(--spacing-5)) ;
}

.pl-6, .c-pl-6 > *, .px-6, .c-px-6 > * {
  padding-left: calc(100vw / var(--spacing-6)) ;
}

.pl-7, .c-pl-7 > *, .px-7, .c-px-7 > * {
  padding-left: calc(100vw / var(--spacing-7)) ;
}

 

/* Margin */
.m-1, .c-m-1 > * {
  margin-top: calc(100vh / var(--spacing-1)) ;
  margin-bottom: calc(100vh / var(--spacing-1)) ;
  margin-left: calc(100vw / var(--spacing-1)) ;
  margin-right: calc(100vw / var(--spacing-1)) ;
}
.m-2, .c-m-2 > * {
  margin-top: calc(100vh / var(--spacing-2)) ;
  margin-bottom: calc(100vh / var(--spacing-2)) ;
  margin-left: calc(100vw / var(--spacing-2)) ;
  margin-right: calc(100vw / var(--spacing-2)) ;
}
.m-3, .c-m-3 > * {
  margin-top: calc(100vh / var(--spacing-3)) ;
  margin-bottom: calc(100vh / var(--spacing-3)) ;
  margin-left: calc(100vw / var(--spacing-3)) ;
  margin-right: calc(100vw / var(--spacing-3)) ;
}
.m-4, .c-m-4 > * {
  margin-top: calc(100vh / var(--spacing-4)) ;
  margin-bottom: calc(100vh / var(--spacing-4)) ;
  margin-left: calc(100vw / var(--spacing-4)) ;
  margin-right: calc(100vw / var(--spacing-4)) ;
}
.m-5, .c-m-5 > * {
  margin-top: calc(100vh / var(--spacing-5)) ;
  margin-bottom: calc(100vh / var(--spacing-5)) ;
  margin-left: calc(100vw / var(--spacing-5)) ;
  margin-right: calc(100vw / var(--spacing-5)) ;
}
.m-6, .c-m-6 > * {
  margin-top: calc(100vh / var(--spacing-6)) ;
  margin-bottom: calc(100vh / var(--spacing-6)) ;
  margin-left: calc(100vw / var(--spacing-6)) ;
  margin-right: calc(100vw / var(--spacing-6)) ;
}
.m-7, .c-m-7 > * {
  margin-top: calc(100vh / var(--spacing-7)) ;
  margin-bottom: calc(100vh / var(--spacing-7)) ;
  margin-left: calc(100vw / var(--spacing-7)) ;
  margin-right: calc(100vw / var(--spacing-7)) ;
}

/* Top Margin */
.mt-1, .c-mt-1 > *, .my-1, .c-my-1 > * {
  margin-top: calc(100vh / var(--spacing-1)) ;
}
.mt-2, .c-mt-2 > *, .my-2, .c-my-2 > * {
  margin-top: calc(100vh / var(--spacing-2)) ;
}
.mt-3, .c-mt-3 > *, .my-3, .c-my-3 > * {
  margin-top: calc(100vh / var(--spacing-3)) ;
}
.mt-4, .c-mt-4 > *, .my-4, .c-my-4 > * {
  margin-top: calc(100vh / var(--spacing-4)) ;
}
.mt-5, .c-mt-5 > *, .my-5, .c-my-5 > * {
  margin-top: calc(100vh / var(--spacing-5)) ;
}
.mt-6, .c-mt-6 > *, .my-6, .c-my-6 > * {
  margin-top: calc(100vh / var(--spacing-6)) ;
}
.mt-7, .c-mt-7 > *, .my-7, .c-my-7 > * {
  margin-top: calc(100vh / var(--spacing-7)) ;
}

/* Bottom Margin */
.mb-1, .c-mb-1 > *, .my-1, .c-my-1 > * {
  margin-bottom: calc(100vh / var(--spacing-1)) ;
}
.mb-2, .c-mb-2 > *, .my-2, .c-my-2 > * {
  margin-bottom: calc(100vh / var(--spacing-2)) ;
}
.mb-3, .c-mb-3 > *, .my-3, .c-my-3 > * {
  margin-bottom: calc(100vh / var(--spacing-3)) ;
}
.mb-4, .c-mb-4 > *, .my-4, .c-my-4 > * {
  margin-bottom: calc(100vh / var(--spacing-4)) ;
}
.mb-5, .c-mb-5 > *, .my-5, .c-my-5 > * {
  margin-bottom: calc(100vh / var(--spacing-5)) ;
}
.mb-6, .c-mb-6 > *, .my-6, .c-my-6 > * {
  margin-bottom: calc(100vh / var(--spacing-6)) ;
}
.mb-7, .c-mb-7 > *, .my-7, .c-my-7 > * {
  margin-bottom: calc(100vh / var(--spacing-7)) ;
}
 

/* Right Margin */
.mr-1, .c-mr-1 > *, .mx-1, .c-mx-1 > * {
  margin-right: calc(100vw / var(--spacing-1)) ;
}
.mr-2, .c-mr-2 > *, .mx-2, .c-mx-2 > * {
  margin-right: calc(100vw / var(--spacing-2)) ;
}
.mr-3, .c-mr-3 > *, .mx-3, .c-mx-3 > * {
  margin-right: calc(100vw / var(--spacing-3)) ;
}
.mr-4, .c-mr-4 > *, .mx-4, .c-mx-4 > * {
  margin-right: calc(100vw / var(--spacing-4)) ;
}
.mr-5, .c-mr-5 > *, .mx-5, .c-mx-5 > * {
  margin-right: calc(100vw / var(--spacing-5)) ;
}
.mr-6, .c-mr-6 > *, .mx-6, .c-mx-6 > * {
  margin-right: calc(100vw / var(--spacing-6)) ;
}
.mr-7, .c-mr-7 > *, .mx-7, .c-mx-7 > * {
  margin-right: calc(100vw / var(--spacing-7)) ;
}

/* Left Margin */
.ml-1, .c-ml-1 > *, .mx-1, .c-mx-1 > * {
  margin-left: calc(100vw / var(--spacing-1)) ;
}
.ml-2, .c-ml-2 > *, .mx-2, .c-mx-2 > * {
  margin-left: calc(100vw / var(--spacing-2)) ;
}
.ml-3, .c-ml-3 > *, .mx-3, .c-mx-3 > * {
  margin-left: calc(100vw / var(--spacing-3)) ;
}
.ml-4, .c-ml-4 > *, .mx-4, .c-mx-4 > * {
  margin-left: calc(100vw / var(--spacing-4)) ;
}
.ml-5, .c-ml-5 > *, .mx-5, .c-mx-5 > * {
  margin-left: calc(100vw / var(--spacing-5)) ;
}
.ml-6, .c-ml-6 > *, .mx-6, .c-mx-6 > * {
  margin-left: calc(100vw / var(--spacing-6)) ;
}
.ml-7, .c-ml-7 > *, .mx-7, .c-mx-7 > * {
  margin-left: calc(100vw / var(--spacing-7)) ;
}/* Text Size */
.xxs  {
    font-size: var(--xxsmall-text);
}
.xs {
    font-size: var(--xsmall-text);
}
.s {
    font-size: var(--small-text);
}
.m {
    font-size: var(--medium-text);
}
.l {
    font-size: var(--large-text);
}
.xl {
    font-size: var(--xlarge-text);
}
.xxl {
    font-size: var(--xxlarge-text);
}
.xxxl {
    font-size: var(--xxxlarge-text);
}

/* Subtitles */
.subtitle-1 {
    font-weight: 100;
    letter-spacing: 0.05em;
}
.subtitle-2 {
    font-weight: 200;
    letter-spacing: -0.03em;
}

/* Text Transformations */
.uppercase, .c-uppercase > * {
    text-transform: uppercase;
}
.lowercase, .c-lowercase > * {
    text-transform: lowercase;
}
.capitalize, .c-capitalize > * {
    text-transform: capitalize;
}

/* Text Weights */
.extra-thin, .c-extra-thin > * {
    font-weight: 100;
}
.thin, .c-thin > * {
    font-weight: 200;
}
.light, .c-light > * {
    font-weight: 300;
}
.normal, .c-normal > * {
    font-weight: 400;
}
.medium, .c-medium > * {
    font-weight: 500;
}
.semi-bold, .c-semi-bold > * {
    font-weight: 600;
}
.bold, .c-bold > * {
    font-weight: 700;
}
.extra-bold, .c-extra-bold > * {
    font-weight: 800;
}
.hefty, .c-hefty > * {
    font-weight: 900;
}

/* Text Alignment */
.text-center, .c-text-center > * {
    text-align: center;
}
.text-right, .c-text-right > * {
    text-align: right;
}
.text-left, .c-text-left > * {
    text-align: left;
}
.text-justify, .c-text-justify > * {
    text-align: justify;
}

/* MISC */
.text-nowrap { white-space: nowrap; }
.italic { font-style: italic; }
.underline { text-decoration: underline; }
.strikethrough { text-decoration: line-through; }

.word-spacing-1, .c-word-spacing-1 > * { word-spacing: 1vw; }
.word-spacing-2, .c-word-spacing-2 > * { word-spacing: 2vw; }
.word-spacing-3, .c-word-spacing-3 > * { word-spacing: 3vw; }
.word-spacing-4, .c-word-spacing-4 > * { word-spacing: 4vw; }

.break {
    word-break: break-all;
    width: .5ch;
}

.text-v-rl, .c-text-v-rl > * { writing-mode: vertical-rl; }
.text-v-lr, .c-text-v-lr > * { writing-mode: vertical-lr; }/* Generic Colors */

.red, .c-red > * {
  background-color: var(--is-red);
  color: var(--is-text-color-inverted);
}
.blue, .c-blue > * {
  background-color: var(--is-blue);
  color: var(--is-text-color-inverted);
}
.green, .c-green > * {
  background-color: var(--is-green) !important;
  color: var(--is-text-color);
}
.orange, .c-orange > * {
  background-color: var(--is-orange);
  color: var(--is-text-color-inverted);
}
.purple, .c-purple > * {
  background-color: var(--is-purple);
  color: var(--is-text-color-inverted);
}
.pink, .c-pink > * {
  background-color: var(--is-pink);
  color: var(--is-text-color-inverted);
}
.black, .c-black > * {
  background-color: var(--is-black) ;
  color: var(--is-text-color-inverted) ;
}
.gray, .c-gray > * {
  background-color: var(--is-gray) ;
  color: var(--is-text-color-inverted) ;
}
.dark-gray, .c-dark-gray > * {
  background-color: var(--is-dark-gray) ;
  color: var(--is-text-color-inverted) ;
}
.yellow, .c-yellow > * {
  background-color: var(--is-yellow) ;
  color: var(--is-text-color) ;
}
.white, .c-white > * {
  background-color: var(--is-white) ;
  color: var(--is-text-color) ;
}


.gradient-lr-warm {
  background-image: linear-gradient(
    to right,
    var(--is-graident-warm-pt-1),
    var(--is-graident-warm-pt-2),
    var(--is-graident-warm-pt-3),
    var(--is-graident-warm-pt-4),
    var(--is-graident-warm-pt-5)
  );
}
.gradient-rl-warm {
  background-image: linear-gradient(
    to left,
    var(--is-graident-warm-pt-1),
    var(--is-graident-warm-pt-2),
    var(--is-graident-warm-pt-3),
    var(--is-graident-warm-pt-4),
    var(--is-graident-warm-pt-5)
  );
}
.gradient-tb-warm {
  background-image: linear-gradient(
    to top,
    var(--is-graident-warm-pt-1),
    var(--is-graident-warm-pt-2),
    var(--is-graident-warm-pt-3),
    var(--is-graident-warm-pt-4),
    var(--is-graident-warm-pt-5)
  );
}
.gradient-bt-warm {
  background-image: linear-gradient(
    to bottom,
    var(--is-graident-warm-pt-1),
    var(--is-graident-warm-pt-2),
    var(--is-graident-warm-pt-3),
    var(--is-graident-warm-pt-4),
    var(--is-graident-warm-pt-5)
  );
}

.gradient-lr-cold {
  background-image: linear-gradient(
    to right,
    var(--is-gradient-cold-pt-1),
    var(--is-gradient-cold-pt-2),
    var(--is-gradient-cold-pt-3),
    var(--is-gradient-cold-pt-4),
    var(--is-gradient-cold-pt-5)

  );
}
.gradient-rl-cold {
  background-image: linear-gradient(
    to left,
    var(--is-gradient-cold-pt-1),
    var(--is-gradient-cold-pt-2),
    var(--is-gradient-cold-pt-3),
    var(--is-gradient-cold-pt-4),
    var(--is-gradient-cold-pt-5)
  );
}
.gradient-tb-cold {
  background-image: linear-gradient(
    to top,
    var(--is-gradient-cold-pt-1),
    var(--is-gradient-cold-pt-2),
    var(--is-gradient-cold-pt-3),
    var(--is-gradient-cold-pt-4),
    var(--is-gradient-cold-pt-5)
  );
}
.gradient-bt-cold {
  background-image: linear-gradient(
    to bottom,
    var(--is-gradient-cold-pt-1),
    var(--is-gradient-cold-pt-2),
    var(--is-gradient-cold-pt-3),
    var(--is-gradient-cold-pt-4),
    var(--is-gradient-cold-pt-5)
  );
}

.gradient-lr-bw {
background: linear-gradient(to right,#fff,#fff,#efefef,#d3d3d3);
}
.gradient-rl-bw {
  background: linear-gradient(to left,#fff,#fff,#efefef,#d3d3d3);
}
.gradient-tb-bw {
  background: linear-gradient(to top,#fff,#fff,#efefef,#d3d3d3);
}
.gradient-bt-bw {
  background: linear-gradient(to bottom,#fff,#fff,#efefef,#d3d3d3);
}

/* Photo Filters */

.grayscale, .c-grayscale > * { filter: grayscale(100%); }
.contrast, .c-contrast > * { filter: contrast(200%); }
.hue-rotate, .c-hue-rotate > * { filter: hue-rotate(90deg); }
.blur, .c-blur > * { filter: blur(5px); }

/* Brighten Colors */

.brighten-1, .c-brighten-1 > * {
box-shadow: inset 0 9000px 0px rgba(255, 255, 255, 0.1);
}
.brighten-2, .c-brighten-2 > * {
  box-shadow: inset 0 9000px 0px rgba(255, 255, 255, 0.2);
}
.brighten-3, .c-brighten-3 > * {
  box-shadow: inset 0 9000px 0px rgba(255, 255, 255, 0.3);
}
.brighten-4, .c-brighten-4 > * {
  box-shadow: inset 0 9000px 0px rgba(255, 255, 255, 0.4);
}
.brighten-5, .c-brighten-5 > * {
  box-shadow: inset 0 9000px 0px rgba(255, 255, 255, 0.5);
}
.brighten-6, .c-brighten-6 > * {
  box-shadow: inset 0 9000px 0px rgba(255, 255, 255, 0.6);
}
.brighten-7, .c-brighten-7 > * {
  box-shadow: inset 0 9000px 0px rgba(255, 255, 255, 0.7);
}

/* Darken Colors*/

.darken-1, .c-darken-1 > * { box-shadow: inset 0 9000px 0px rgba(0, 0, 0, 0.1); }
.darken-2, .c-darken-2 > * { box-shadow: inset 0 9000px 0px rgba(0, 0, 0, 0.2); }
.darken-3, .c-darken-3 > * { box-shadow: inset 0 9000px 0px rgba(0, 0, 0, 0.3); }
.darken-4, .c-darken-4 > * { box-shadow: inset 0 9000px 0px rgba(0, 0, 0, 0.4); }
.darken-5, .c-darken-5 > * { box-shadow: inset 0 9000px 0px rgba(0, 0, 0, 0.5); }
.darken-6, .c-darken-6 > * { box-shadow: inset 0 9000px 0px rgba(0, 0, 0, 0.6); }
.darken-7, .c-darken-7 > * { box-shadow: inset 0 9000px 0px rgba(0, 0, 0, 0.7); }



/* Things to be Added to the Official CSS*/


.dropdown {
  display: inline-flex;
  position: relative;
  vertical-align: top;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.pinned-end {
  float: right;
}

.pinned-start {
  float: left;
}

.info, .tip {
  background-color: var(--is-info-color);
  color: var(--is-info-text);
}

.success {
  background-color: var(--is-success-color);
  color: var(--is-success-text);
}

.warning, .attention {
  background-color: var(--is-warning-color);
  color: var(--is-warning-text);
}

.danger {
  background-color: var(--is-danger-color);
  color: var(--is-danger-text);
}

.h-scroll {
  height: 600px;
  overflow-y: scroll;
}
