@font-face {
	font-family: 'Montserrat';
	src: url('/fonts//Montserrat-VariableFont_wght.ttf') format('truetype'),
        url('/fonts//Montserra-Italic-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 1000;
	font-stretch: 25% 151%;
	font-display: swap
} 