
/* 4k */

@media screen and (min-width: 3840px) {
    .is-hidden-widescreen, .c-hidden-widescreen > * {
        display: none;
    }
    .is-invisible-widescreen, .c-invisible-widescreen > * {
        visibility: hidden;
    }
    .is-fullsize-widescreen, .c-fullsize-widescreen > * {
        flex-basis: 100%;
        flex-grow: 1;
    }

    .h-scroll {
        height: max-content !important;
    }

    /* font sizes */

    :root {
        --is-line-height: 3.5rem;
        --xxsmall-text: calc(1rem + 0.2vw);
        --xsmall-text: calc(1.5rem + 0.3vw);
        --small-text: calc(1.5rem + 0.4vw);
        --medium-text: calc(2.5rem + 0.5vw);
        --large-text: calc(3rem + 0.6vw);
        --xlarge-text: calc(3.5rem + 0.7vw);
        --xxlarge-text: calc(4rem + 0.8vw);
        --xxxlarge-text: calc(4.5rem + 0.9vw);

        --spacing-1: calc(1rem);
        --spacing-2: calc(2rem);
        --spacing-3: calc(3rem);
        --spacing-4: calc(6rem);
        --spacing-5: calc(8rem);
        --spacing-6: calc(12rem);
        --spacing-7: calc(14rem);

        --rounded-1: 10px;
        --rounded-2: 20px; 
        --rounded-3: 30px;
        --rounded-4: 40px;
        --rounded-5: 50px;
        --rounded-6: 60px;
        --rounded-7: 70px;

        --outlined-width: 3px;
      }

}
 