
/* Widescreen TALL */

@media screen and (min-height: 1440px) {
    .is-hidden-widescreen, .c-hidden-widescreen > * {
        display: none;
    }
    .is-invisible-widescreen, .c-invisible-widescreen > * {
        visibility: hidden;
    }
    .is-fullsize-widescreen, .c-fullsize-widescreen > * {
        flex-basis: 100%;
        flex-grow: 1;
    }

    .h-scroll {
        height: max-content !important;
    }
}
 