
/* Widescreen TALL */

@media screen and (min-width: 1441px) {
    .is-hidden-widescreen, .c-hidden-widescreen > * {
        display: none;
    }
    .is-invisible-widescreen, .c-invisible-widescreen > * {
        visibility: hidden;
    }
    .is-fullsize-widescreen, .c-fullsize-widescreen > * {
        flex-basis: 100%;
        flex-grow: 1;
    }

    .h-scroll {
        height: max-content - 100px !important;
    }

    .one-sixth-widescreen {
        flex-basis: 16.666666666666664%;
        flex-grow: 0;
    }
    .one-half-widescreen {
        flex-basis: 50%;
        flex-grow: 0;
    }

    .two-thirds-widescreen {
        flex-basis: 66.66666666666666%;
        flex-grow: 0;
    }
}
 