
/* Widescreen TALL */

@media screen and (min-height: 1440px) {
    .is-hidden-widescreen, .c-hidden-widescreen > * {
        display: none;
    }
    .is-invisible-widescreen, .c-invisible-widescreen > * {
        visibility: hidden;
    }
    .is-fullsize-widescreen, .c-fullsize-widescreen > * {
        flex-basis: 100%;
        flex-grow: 1;
    }

    .h-scroll {
        height: max-content !important;
    }


/* Spacing */

.sp-1, .c-sp-1 > * {
  padding-top: calc(50vh / var(--spacing-1));
  padding-bottom: calc(50vh / var(--spacing-1));
  padding-left: calc(50vw / var(--spacing-1));
  padding-right: calc(50vw / var(--spacing-1));
  margin-top: calc(50vh / var(--spacing-1));
  margin-bottom: calc(50vh / var(--spacing-1));
  margin-left: calc(50vw / var(--spacing-1));
  margin-right: calc(50vw / var(--spacing-1));
}

.sp-2, .c-sp-2 > * {
  padding-top: calc(25vh / var(--spacing-2));
  padding-bottom: calc(25vh / var(--spacing-2));
  padding-left: calc(25vw / var(--spacing-2));
  padding-right: calc(25vw / var(--spacing-2));
  margin-top: calc(25vh / var(--spacing-2));
  margin-bottom: calc(25vh / var(--spacing-2));
  margin-left: calc(25vw / var(--spacing-2)) ;
  margin-right: calc(25vw / var(--spacing-2));
}

.sp-3, .c-sp-3 > * {
  padding-top: calc(25vh / var(--spacing-3));
  padding-bottom: calc(25vh / var(--spacing-3));
  padding-left: calc(25vw / var(--spacing-3));
  padding-right: calc(25vw / var(--spacing-3));
  margin-top: calc(25vh / var(--spacing-3));
  margin-bottom: calc(25vh / var(--spacing-3));
  margin-left: calc(25vw / var(--spacing-3));
  margin-right: calc(25vw / var(--spacing-3));
}

.sp-4, .c-sp-4 > * {
  padding-top: calc(25vh / var(--spacing-4));
  padding-bottom: calc(25vh / var(--spacing-4));
  padding-left: calc(25vw / var(--spacing-4));
  padding-right: calc(25vw / var(--spacing-4));
  margin-top: calc(25vh / var(--spacing-4));
  margin-bottom: calc(25vh / var(--spacing-4));
  margin-left: calc(25vw / var(--spacing-4));
  margin-right: calc(25vw / var(--spacing-4));
}

.sp-5, .c-sp-5 > * {
  padding-top: calc(25vh / var(--spacing-5));
  padding-bottom: calc(25vh / var(--spacing-5));
  padding-left: calc(25vw / var(--spacing-5));
  padding-right: calc(25vw / var(--spacing-5));
  margin-top: calc(25vh / var(--spacing-5));
  margin-bottom: calc(25vh / var(--spacing-5));
  margin-left: calc(25vw / var(--spacing-5)) ;
  margin-right: calc(25vw / var(--spacing-5)) ;
}

.sp-6, .c-sp-6 > * {
  padding-top: calc(25vh / var(--spacing-6)) ;
  padding-bottom: calc(25vh / var(--spacing-6)) ;
  padding-left: calc(25vw / var(--spacing-6)) ;
  padding-right: calc(25vw / var(--spacing-6)) ;
  margin-top: calc(25vh / var(--spacing-6)) ;
  margin-bottom: calc(25vh / var(--spacing-6)) ;
  margin-left: calc(25vw / var(--spacing-6)) ;
  margin-right: calc(25vw / var(--spacing-6)) ;
}

.sp-7, .c-sp-7 > * {
  padding-top: calc(25vh / var(--spacing-7)) ;
  padding-bottom: calc(25vh / var(--spacing-7)) ;
  padding-left: calc(25vw / var(--spacing-7)) ;
  padding-right: calc(25vw / var(--spacing-7)) ;
  margin-top: calc(25vh / var(--spacing-7)) ;
  margin-bottom: calc(25vh / var(--spacing-7)) ;
  margin-left: calc(25vw / var(--spacing-7)) ;
  margin-right: calc(25vw / var(--spacing-7)) ;
} 

/*Global Padding*/

.p-1, .c-p-1 > * {
  padding-top: calc(50vh / var(--spacing-1)) ;
  padding-bottom: calc(50vh / var(--spacing-1)) ;
  padding-left: calc(50vw / var(--spacing-1)) ;
  padding-right: calc(50vw / var(--spacing-1)) ;
}

.p-2, .c-p-2 > * {
  padding-top: calc(25vh / var(--spacing-2)) ;
  padding-bottom: calc(25vh / var(--spacing-2)) ;
  padding-left: calc(25vw / var(--spacing-2)) ;
  padding-right: calc(25vw / var(--spacing-2)) ;
}

.p-3, .c-p-3 > * {
  padding-top: calc(25vh / var(--spacing-3)) ;
  padding-bottom: calc(25vh / var(--spacing-3)) ;
  padding-left: calc(25vw / var(--spacing-3)) ;
  padding-right: calc(25vw / var(--spacing-3)) ;
}

.p-4, .c-p-4 > * {
  padding-top: calc(25vh / var(--spacing-4)) ;
  padding-bottom: calc(25vh / var(--spacing-4)) ;
  padding-left: calc(25vw / var(--spacing-4)) ;
  padding-right: calc(25vw / var(--spacing-4)) ;
}

.p-5, .c-p-5 > * {
  padding-top: calc(25vh / var(--spacing-5)) ;
  padding-bottom: calc(25vh / var(--spacing-5)) ;
  padding-left: calc(25vw / var(--spacing-5)) ;
  padding-right: calc(25vw / var(--spacing-5)) ;
}

.p-6, .c-p-6 > * {
  padding-top: calc(25vh / var(--spacing-6)) ;
  padding-bottom: calc(25vh / var(--spacing-6)) ;
  padding-left: calc(25vw / var(--spacing-6)) ;
  padding-right: calc(25vw / var(--spacing-6)) ;
}

.p-7, .c-p-7 > * {
  padding-top: calc(25vh / var(--spacing-7)) ;
  padding-bottom: calc(25vh / var(--spacing-7)) ;
  padding-left: calc(25vw / var(--spacing-7)) ;
  padding-right: calc(25vw / var(--spacing-7)) ;
}

/* Top Padding */

.pt-1, .c-pt-1 > *, .py-1, .c-py-1 > * {
padding-top: calc(50vh / var(--spacing-1)) ;
}

.pt-2, .c-pt-2 > *, .py-2, .c-py-2 > * {
  padding-top: calc(25vh / var(--spacing-2)) ;
}

.pt-3, .c-pt-3 > *, .py-3, .c-py-3 > * {
  padding-top: calc(25vh / var(--spacing-3)) ;
}

.pt-4, .c-pt-4 > *, .py-4, .c-py-4 > * {
  padding-top: calc(25vh / var(--spacing-4)) ;
}

.pt-5, .c-pt-5 > *, .py-5, .c-py-5 > * {
  padding-top: calc(25vh / var(--spacing-5)) ;
}

.pt-6, .c-pt-6 > *, .py-6, .c-py-6 > * {
  padding-top: calc(25vh / var(--spacing-6)) ;
}

.pt-7, .c-pt-7 > *, .py-7, .c-py-7 > * {
  padding-top: calc(25vh / var(--spacing-7)) ;
}

/* Bottom Padding */

.pb-1, .c-pb-1 > *, .py-1, .c-py-1 > * {
  padding-bottom: calc(50vh / var(--spacing-1)) ;
}

.pb-2, .c-pb-2 > *, .py-2, .c-py-2 > * {
  padding-bottom: calc(25vh / var(--spacing-2)) ;
}

.pb-3, .c-pb-3 > *, .py-3, .c-py-3 > * {
  padding-bottom: calc(25vh / var(--spacing-3)) ;
}

.pb-4, .c-pb-4 > *, .py-4, .c-py-4 > * {
  padding-bottom: calc(25vh / var(--spacing-4)) ;
}

.pb-5, .c-pb-5 > *, .py-5, .c-py-5 > * {
  padding-bottom: calc(25vh / var(--spacing-5)) ;
}

.pb-6, .c-pb-6 > *, .py-6, .c-py-6 > * {
  padding-bottom: calc(25vh / var(--spacing-6)) ;
}

.pb-7, .c-pb-7 > *, .py-7, .c-py-7 > * {
  padding-bottom: calc(25vh / var(--spacing-7)) ;
}

/* Right Padding */

.pr-1, .c-pr-1 > *, .px-1, .c-px-1 > * {
  padding-right: calc(50vw / var(--spacing-1)) ;
}

.pr-2, .c-pr-2 > *, .px-2, .c-px-2 > * {
  padding-right: calc(25vw / var(--spacing-2)) ;
}

.pr-3, .c-pr-3 > *, .px-3, .c-px-3 > * {
  padding-right: calc(25vw / var(--spacing-3)) ;
}

.pr-4, .c-pr-4 > *, .px-4, .c-px-4 > * {
  padding-right: calc(25vw / var(--spacing-4)) ;
}

.pr-5, .c-pr-5 > *, .px-5, .c-px-5 > * {
  padding-right: calc(25vw / var(--spacing-5)) ;
}

.pr-6, .c-pr-6 > *, .px-6, .c-px-6 > * {
  padding-right: calc(25vw / var(--spacing-6)) ;
}

.pr-7, .c-pr-7 > *, .px-7, .c-px-7 > * {
  padding-right: calc(25vw / var(--spacing-7)) ;
}

/* Left Padding */

.pl-1, .c-pl-1 > *, .px-1, .c-px-1 > * {
  padding-left: calc(50vw / var(--spacing-1)) ;
}

.pl-2, .c-pl-2 > *, .px-2, .c-px-2 > * {
  padding-left: calc(25vw / var(--spacing-2)) ;
}

.pl-3, .c-pl-3 > *, .px-3, .c-px-3 > * {
  padding-left: calc(25vw / var(--spacing-3)) ;
}

.pl-4, .c-pl-4 > *, .px-4, .c-px-4 > * {
  padding-left: calc(25vw / var(--spacing-4)) ;
}

.pl-5, .c-pl-5 > *, .px-5, .c-px-5 > * {
  padding-left: calc(25vw / var(--spacing-5)) ;
}

.pl-6, .c-pl-6 > *, .px-6, .c-px-6 > * {
  padding-left: calc(25vw / var(--spacing-6)) ;
}

.pl-7, .c-pl-7 > *, .px-7, .c-px-7 > * {
  padding-left: calc(25vw / var(--spacing-7)) ;
}

 

/* Margin */
.m-1, .c-m-1 > * {
  margin-top: calc(50vh / var(--spacing-1)) ;
  margin-bottom: calc(50vh / var(--spacing-1)) ;
  margin-left: calc(50vw / var(--spacing-1)) ;
  margin-right: calc(50vw / var(--spacing-1)) ;
}
.m-2, .c-m-2 > * {
  margin-top: calc(25vh / var(--spacing-2)) ;
  margin-bottom: calc(25vh / var(--spacing-2)) ;
  margin-left: calc(25vw / var(--spacing-2)) ;
  margin-right: calc(25vw / var(--spacing-2)) ;
}
.m-3, .c-m-3 > * {
  margin-top: calc(25vh / var(--spacing-3)) ;
  margin-bottom: calc(25vh / var(--spacing-3)) ;
  margin-left: calc(25vw / var(--spacing-3)) ;
  margin-right: calc(25vw / var(--spacing-3)) ;
}
.m-4, .c-m-4 > * {
  margin-top: calc(25vh / var(--spacing-4)) ;
  margin-bottom: calc(25vh / var(--spacing-4)) ;
  margin-left: calc(25vw / var(--spacing-4)) ;
  margin-right: calc(25vw / var(--spacing-4)) ;
}
.m-5, .c-m-5 > * {
  margin-top: calc(25vh / var(--spacing-5)) ;
  margin-bottom: calc(25vh / var(--spacing-5)) ;
  margin-left: calc(25vw / var(--spacing-5)) ;
  margin-right: calc(25vw / var(--spacing-5)) ;
}
.m-6, .c-m-6 > * {
  margin-top: calc(25vh / var(--spacing-6)) ;
  margin-bottom: calc(25vh / var(--spacing-6)) ;
  margin-left: calc(25vw / var(--spacing-6)) ;
  margin-right: calc(25vw / var(--spacing-6)) ;
}
.m-7, .c-m-7 > * {
  margin-top: calc(25vh / var(--spacing-7)) ;
  margin-bottom: calc(25vh / var(--spacing-7)) ;
  margin-left: calc(25vw / var(--spacing-7)) ;
  margin-right: calc(25vw / var(--spacing-7)) ;
}

/* Top Margin */
.mt-1, .c-mt-1 > *, .my-1, .c-my-1 > * {
  margin-top: calc(50vh / var(--spacing-1)) ;
}
.mt-2, .c-mt-2 > *, .my-2, .c-my-2 > * {
  margin-top: calc(25vh / var(--spacing-2)) ;
}
.mt-3, .c-mt-3 > *, .my-3, .c-my-3 > * {
  margin-top: calc(25vh / var(--spacing-3)) ;
}
.mt-4, .c-mt-4 > *, .my-4, .c-my-4 > * {
  margin-top: calc(25vh / var(--spacing-4)) ;
}
.mt-5, .c-mt-5 > *, .my-5, .c-my-5 > * {
  margin-top: calc(25vh / var(--spacing-5)) ;
}
.mt-6, .c-mt-6 > *, .my-6, .c-my-6 > * {
  margin-top: calc(25vh / var(--spacing-6)) ;
}
.mt-7, .c-mt-7 > *, .my-7, .c-my-7 > * {
  margin-top: calc(25vh / var(--spacing-7)) ;
}

/* Bottom Margin */
.mb-1, .c-mb-1 > *, .my-1, .c-my-1 > * {
  margin-bottom: calc(50vh / var(--spacing-1)) ;
}
.mb-2, .c-mb-2 > *, .my-2, .c-my-2 > * {
  margin-bottom: calc(25vh / var(--spacing-2)) ;
}
.mb-3, .c-mb-3 > *, .my-3, .c-my-3 > * {
  margin-bottom: calc(25vh / var(--spacing-3)) ;
}
.mb-4, .c-mb-4 > *, .my-4, .c-my-4 > * {
  margin-bottom: calc(25vh / var(--spacing-4)) ;
}
.mb-5, .c-mb-5 > *, .my-5, .c-my-5 > * {
  margin-bottom: calc(25vh / var(--spacing-5)) ;
}
.mb-6, .c-mb-6 > *, .my-6, .c-my-6 > * {
  margin-bottom: calc(25vh / var(--spacing-6)) ;
}
.mb-7, .c-mb-7 > *, .my-7, .c-my-7 > * {
  margin-bottom: calc(25vh / var(--spacing-7)) ;
}
 

/* Right Margin */
.mr-1, .c-mr-1 > *, .mx-1, .c-mx-1 > * {
  margin-right: calc(50vw / var(--spacing-1)) ;
}
.mr-2, .c-mr-2 > *, .mx-2, .c-mx-2 > * {
  margin-right: calc(25vw / var(--spacing-2)) ;
}
.mr-3, .c-mr-3 > *, .mx-3, .c-mx-3 > * {
  margin-right: calc(25vw / var(--spacing-3)) ;
}
.mr-4, .c-mr-4 > *, .mx-4, .c-mx-4 > * {
  margin-right: calc(25vw / var(--spacing-4)) ;
}
.mr-5, .c-mr-5 > *, .mx-5, .c-mx-5 > * {
  margin-right: calc(25vw / var(--spacing-5)) ;
}
.mr-6, .c-mr-6 > *, .mx-6, .c-mx-6 > * {
  margin-right: calc(25vw / var(--spacing-6)) ;
}
.mr-7, .c-mr-7 > *, .mx-7, .c-mx-7 > * {
  margin-right: calc(25vw / var(--spacing-7)) ;
}

/* Left Margin */
.ml-1, .c-ml-1 > *, .mx-1, .c-mx-1 > * {
  margin-left: calc(50vw / var(--spacing-1)) ;
}
.ml-2, .c-ml-2 > *, .mx-2, .c-mx-2 > * {
  margin-left: calc(25vw / var(--spacing-2)) ;
}
.ml-3, .c-ml-3 > *, .mx-3, .c-mx-3 > * {
  margin-left: calc(25vw / var(--spacing-3)) ;
}
.ml-4, .c-ml-4 > *, .mx-4, .c-mx-4 > * {
  margin-left: calc(25vw / var(--spacing-4)) ;
}
.ml-5, .c-ml-5 > *, .mx-5, .c-mx-5 > * {
  margin-left: calc(25vw / var(--spacing-5)) ;
}
.ml-6, .c-ml-6 > *, .mx-6, .c-mx-6 > * {
  margin-left: calc(25vw / var(--spacing-6)) ;
}
.ml-7, .c-ml-7 > *, .mx-7, .c-mx-7 > * {
  margin-left: calc(25vw / var(--spacing-7)) ;
}
}

 