{{/* 
    - The series template functions like a list page, but is specific to the "series" taxonomy.
    - Series pages are ordered by the "seriesPart" parameter, which is a number.
    - Markdown pages should not have more than one "series" tag value. 
*/}}

{{ define "main" }}
{{ partial "glossary-directory.html" . }}
    <main class="content px-3"> 
        <div class="spread-between my-2">
            {{ partial "featureBreadcrumbs.html" . }} 
            {{ partial "featureEditLink.html" . }}
        </div>    
        {{ $order := "asc"}}
        <section class="hpe-bg-gradient rounded-1 c-ml-3 c-sp-1">
            <div class="spread-between c-pinned-center">
                <h1>{{strings.FirstUpper .Title }}</h1>
                <p class="label uppercase outlined xs sp-2"> series</p>
            </div>
        </section>
        <section class="stack">
            {{ range .Pages.ByParam "seriesPart" }}
                <div class="content"> 
                        <a class="button black gradient-lr-cold rounded-1 p-2 mt-4 xxl bold" href="{{.Permalink}}" id="{{.Title | anchorize}}">{{.Params.seriesPart}} {{.Title}} </a>
                    {{ partial "featureBetaNotice.html" . }}
                    <div class="content"> 
                    {{.Content}}
                    </div>
                </div>
            {{ end }}
        </section>
    </main>
    <div class="pt-5 noscrollbar sticky is-one-fifth directory h-scroll px-3 is-hidden-mobile">
        <div> 
            <p class="m bold">{{strings.FirstUpper .Title }} Series</p>
            {{ range .Pages.ByParam "seriesPart" }}
                <div><a href="#{{.Title | anchorize}}" class="s">{{.Title}}</a></div>
            {{end}}
        </div>
        
    </div>
{{end}}