
<section class="py-2"> 
    <button class="button">Normal</button>
    <button class="button is-primary">is primary</button>
    <button class="button is-link">is link</button>
    <button class="button is-info">is info</button>
    <button class="button is-success">is success</button>
    <button class="button is-warning">is warning</button>
    <button class="button is-danger">is danger</button>
</section>
<section class="py-2"> 
    <button class="button is-focused">Focus</button>
    <button class="button is-primary is-focused">Focus</button>
    <button class="button is-link is-focused">Focus</button>
    <button class="button is-info is-focused">Focus</button>
    <button class="button is-success is-focused">Focus</button>
    <button class="button is-warning is-focused">Focus</button>
    <button class="button is-danger is-focused">Focus</button>
</section>

<section class="py-2"> 
    <button class="button is-active">Active</button>
    <button class="button is-primary is-active">Active</button>
    <button class="button is-link is-active">Active</button>
    <button class="button is-info is-active">Active</button>
    <button class="button is-success is-active">Active</button>
    <button class="button is-warning is-active">Active</button>
    <button class="button is-danger is-active">Active</button>
</section>

<section class="py-2"> 
    <button class="button is-primary is-inverted">Inverted</button>
    <button class="button is-link is-inverted">Inverted</button>
    <button class="button is-info is-inverted">Inverted</button>
    <button class="button is-success is-inverted">Inverted</button>
    <button class="button is-danger is-inverted">Inverted</button>
</section>

<section class="py-2"> 
    <button class="button is-outlined">Outlined</button>
    <button class="button is-primary is-outlined">Outlined</button>
    <button class="button is-link is-outlined">Outlined</button>
    <button class="button is-info is-outlined">Outlined</button>
    <button class="button is-success is-outlined">Outlined</button>
    <button class="button is-danger is-outlined">Outlined</button>
</section>

<section class="py-2"> 
    <button class="button is-rounded">Rounded</button>
    <button class="button is-primary is-rounded">Rounded</button>
    <button class="button is-link is-rounded">Rounded</button>
    <button class="button is-info is-rounded">Rounded</button>
    <button class="button is-success is-rounded">Rounded</button>
    <button class="button is-danger is-rounded">Rounded</button>
</section>

<section class="py-2"> 
    <button class="button" title="Disabled button" disabled>Disabled</button>
    <button class="button is-primary" title="Disabled button" disabled>Disabled</button>
    <button class="button is-link" title="Disabled button" disabled>Disabled</button>
    <button class="button is-info" title="Disabled button" disabled>Disabled</button>
    <button class="button is-success" title="Disabled button" disabled>Disabled</button>
    <button class="button is-warning" title="Disabled button" disabled>Disabled</button>
    <button class="button is-danger" title="Disabled button" disabled>Disabled</button>
</section>

<section class="py-2"> 
<div class="buttons has-addons">
  <button class="button">Yes</button>
  <button class="button">Maybe</button>
  <button class="button">No</button>
</div>
</section>