@font-face {
	font-family: 'MetricHPE-Black';
	src: url('/fonts/hpe/MetricHPE-Web-Black.woff') format('woff'),
        url('/fonts/hpe/MetricHPE-Web-BlackItalic.woff') format('woff');
	font-weight: 100 1000;
	font-stretch: 25% 151%;
	font-display: swap
} 

@font-face {
	font-family: 'MetricHPE-Bold';
	src: url('/fonts/hpe/MetricHPE-Web-Bold.woff') format('woff'),
        url('/fonts/hpe/MetricHPE-Web-BoldItalic.woff') format('woff');
	font-weight: 100 1000;
	font-stretch: 25% 151%;
	font-display: swap
} 

@font-face {
	font-family: 'MetricHPE-Medium';
	src: url('/fonts/hpe/MetricHPE-Web-Medium.woff') format('woff'),
        url('/fonts/hpe/MetricHPE-Web-MediumItalic.woff') format('woff');
	font-weight: 100 1000;
	font-stretch: 25% 151%;
	font-display: swap
} 

@font-face {
	font-family: 'MetricHPE-Regular';
	src: url('/fonts/hpe/MetricHPE-Web-Regular.woff') format('woff'),
        url('/fonts/hpe/MetricHPE-Web-RegularItalic.woff') format('woff');
	font-weight: 100 1000;
	font-stretch: 25% 151%;
	font-display: swap
} 

/* @font-face {
	font-family: 'Public Sans';
	src: url('/fonts//PublicSans-VariableFont_wght.ttf') format('truetype'),
        url('/fonts//PublicSans-Italic-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 1000;
	font-stretch: 25% 151%;
	font-display: swap
}  */