
{{ if .Site.Params.relatedArticles }}

    <section id="related-articles" class="is-hidden"> 
        {{ if eq .BundleType "branch"}}
        {{/*Show nothing*/}}
        {{else}}

            {{ $related := site.RegularPages.RelatedIndices . "tags"   }}
            {{ with $related }}
                <p class="my-2"> Related Articles</p>
                <div class="columns is-flex-direction-column p-0 m-0">
                    {{ range . }}
                        <a href="{{ .RelPermalink }}" class="column is-size-6  p-0 mt-2"> {{if .Pages}}├ {{else}} {{if .PrevInSection }} │ {{else}} └ {{end}}{{end}}{{if .Title}}{{.Title | truncate 30}}{{else}}{{ path.BaseName . | humanize | truncate 30}}{{end}}</a>
                    {{ end }}
                </div>
                {{else}}
                <div class="my-2"> No Related Articles</div>
            {{ end }}
         {{end}}
     </section>

{{end}}


