{{ if .Site.Params.nextPrev }}
    <section id="next-previous" class="columns my-3 ">
        {{with .NextInSection }}
            <section class="column is-half is-flex is-justify-content-left">
                <a id="previous" href="{{.Permalink}}" class="button is-info">👈 {{.Title | truncate 35}}</a>
            </section>
            {{else}}
            <div class="column is-half"></div>
        {{end}}
        {{with .PrevInSection}}
            <section class="column is-half is-flex is-justify-content-right">
                <a id="next" href="{{.Permalink}}" class="button is-info">{{.Title | truncate 35}} 👉</a>
            </section>
        {{end}}
    </section>
{{end}}


