{{ if .Site.Params.CommunityDetails }}

    <section class="columns mx-3 p-6 theme-pattern-alt theme-rounded">
        <div class="column is-one-fifth has-background-white m-3 community theme-rounded">
            <h6 class="is-size-5 has-text-weight-bold has-text-centered">Join the Pach
            </h6>
            <div class="buttons is-justify-content-space-evenly">
                 <a href="https://github.com/pachyderm"> <img src="/images/github.svg" ></a>
                 <a href="https://www.pachyderm.com/slack/"> <img src="/images/slack.svg"></a>
            </div>
        </div>
        <div class="column has-background-white m-3 community theme-rounded"> 
            <h6 class="is-size-5 has-text-weight-bold has-text-centered">News</h6>
            <div class="content pt-1 my-2 has-text-centered">
              <div class="tag has-text-weight-bold has-background-primary has-text-white"> Pachyderm 2.2.7</div> is out! <br> Read  what's new in this patch release.
            </div>
        </div>
    </section>

{{end}}