{{/* 
    - Markdown pages with the frontmatter value "layout:glossary" use this template.
*/}}

{{ define "main" }}
<main class="spread-around c-pinned-stretch  c-mx-4"> 
    {{partial "directory.html" . }}
    <article class="content two-thirds-widescreen is-fullsize-mobile pinned-top">
        <div class="spread-between my-2">
            {{ partial "featureBreadcrumbs.html" . }} 
            {{ partial "featureEditLink.html" . }}
         </div> 
            {{ if .Site.Params.heroBanner.glossary}}
                <section class="black gradient-rl-cold py-3 rounded-4 c-sp-1">
                        {{/* Displays a series button if page is part of a series collection  */}}
                        {{ partial "featureSeriesButton.html" . }}
                        <h1>{{if .Title}}{{.Title}}{{else}}{{ path.BaseName . | humanize }}{{end}}</h1>
                        {{ if .Description}}
                            <p class="text-s bold">
                                {{ .Description}}
                            </p>
                        {{end}}
                        <p class="text-s">
                            {{/* Displays published date or last build date */}}
                            {{ if .Date }}
                                {{ .Date | time.Format ":date_long" }} 
                            {{else}} 
                                {{ now | time.Format ":date_long" }} 
                            {{end}}
                        </p> 
                </section>
            {{else}}
                {{/* Does not show the hero section if disabled from config.yaml */}}
            {{end}}
            {{if .Content}}
            <section class="content"> 
                {{.Content}}
            </section>
        {{end}}
        {{/* Paginator Navigation Starts Here */}}
        <nav class="spread-center" role="navigation" aria-label="pagination">
            <div class="spread-left pagination-list c-m-1 c-pinned-center">
                <div class="button black rounded-4 m-2 p-1 gradient-rl-cold xs uppercase bold is-fit"> Glossary Pages</div>
                {{ range .Paginator.Pagers}}
                    {{/* Paginator Buttons */}}
                    <button data-pager="{{.}}" class="button black darken-7  p-1  mr-2 rounded-4 text-xxs outlined is-fit" aria-label='Goto page {{trim . "Pager "}}' onclick="revealPage({{.}})">{{trim . "Pager"}}</button>
                {{end}}
            </div>
        </nav>
        {{/* Paginator Pages Starts Here */}}
        <section id="paginator">
            {{  range .Paginator.Pagers }}
                {{/* Pages are hidden by default and revealed with pagination.js  */}}
                <section id="{{.}}" class="mt-4 is-hidden">
                    {{ range after 0 .Pages}}
                        {{ if  .Params.hidden }}
                            {{/* Does not show the hidden child pages or their descendants */}}
                        {{else}}
                            <a class="spread-left m-4" href="{{.Permalink}}">
                                <div class="spread-center is-two-fifths">
                                    {{/* Display title or humanized file's basename (e.g, for pachctl refs) */}}
                                    <h4> 
                                        {{if .Title}}
                                            {{ strings.TrimPrefix "Pachctl" .Title}}
                                        {{else}}
                                            {{ strings.TrimPrefix  "Pachctl" (path.BaseName . | humanize) }}
                                        {{end}}
                                    </h4>
                                </div>
                                <div class="black darken-7 rounded-4 c-sp-1">
                                    <p class="text-xs"> 
                                        {{/* Display description or a truncated summary  */}}
                                        {{ if .Params.glossaryDefinition}}
                                            {{.Params.glossaryDefinition}}
                                        {{ else if .Description}}
                                            {{.Description}}
                                        {{else }}
                                            {{.Summary | truncate 100}}
                                        {{end}}
                                    </p>
                                </div>
                            </a>
                        {{end}}
                    {{end}}
                </section>
            {{end}}
        </section>
</article>
</main>
{{end}}





