{{/* 
    - Markdown pages with the frontmatter value "layout:glossary" use this template.
*/}}

{{ define "main" }}
        {{ if .Site.Params.heroBanner.glossary}}
            <section class="black gradient-lr-cold rounded-1 py-3 m-2 c-sp-2">
                <div class="spread-between c-pinned-center">
                    <h1>{{.Title}} </h1>
                    <p class="label uppercase outlined xs sp-2">glossary</p>
                </div>
            </section>
        {{else}}
            {{/* Don't show the hero section */}}
        {{end}}

        {{if .Content}}
            <section class="content p-4"> 
                {{.Content}}
            </section>
        {{end}}
        {{/* Paginator Navigation Starts Here */}}
        <nav class="spread-center" role="navigation" aria-label="pagination">
            <div class="pagination-list m-2 c-mt-2">
                <div class="button black rounded-1 m-2 p-2 gradient-rl-cold xs uppercase bold"> Glossary Pages</div>
                {{ range .Paginator.Pagers}}
                    {{/* Paginator Buttons */}}
                    <button data-pager="{{.}}" class="button black darken-3  p-2  mr-2 rounded-1 xxs" aria-label='Goto page {{trim . "Pager "}}' onclick="revealPage({{.}})">{{trim . "Pager"}}</button>
                {{end}}
            </div>
        </nav>
        {{/* Paginator Pages Starts Here */}}
        <section id="paginator">
            {{  range .Paginator.Pagers }}
                {{/* Pages are hidden by default and revealed with pagination.js  */}}
                <section id="{{.}}" class="mt-4 is-hidden">
                    {{ range after 0 .Pages}}
                        {{ if  .Params.hidden }}
                            {{/* Does not show the hidden child pages or their descendants */}}
                        {{else}}
                            <a class="spread-left m-4" href="{{.Permalink}}">
                                <div class="is-two-fifths">
                                    {{/* Display title or humanized file's basename (e.g, for pachctl refs) */}}
                                    <h4> 
                                        {{if .Title}}
                                            {{ strings.TrimPrefix "Pachctl" .Title}}
                                        {{else}}
                                            {{ strings.TrimPrefix  "Pachctl" (path.BaseName . | humanize) }}
                                        {{end}}
                                    </h4>
                                </div>
                                <div class="black darken-3 rounded-1 c-sp-2">
                                    <p class="xs"> 
                                        {{/* Display description or a truncated summary  */}}
                                        {{ if .Params.glossaryDefinition}}
                                            {{.Params.glossaryDefinition}}
                                        {{ else if .Description}}
                                            {{.Description}}
                                        {{else }}
                                            {{.Summary | truncate 100}}
                                        {{end}}
                                    </p>
                                </div>
                            </a>
                        {{end}}
                    {{end}}
                </section>
            {{end}}
        </section>
{{end}}

