{{/* 
    - The Series template functions like a list page, but is specific to the "series" taxonomy.
    - layout-series is an empty class for easier location; do not style against it.  
*/}}


{{ define "main" }}
    {{ $order := "asc"}}
        <section class="black py-3 m-1 gradient-rl-cold rounded-1 c-sp-1">
            <div class="spread-between c-pinned-center">
                <h1>{{.Title}} </h1>
                <p class="label uppercase outlined xs sp-1"> series</p>
            </div>
        </section>
        <section class="stack">
            {{ range .Pages.ByParam "seriesPart" }}
                <article class="content"> 
                        <a class="button black gradient-lr-cold rounded-1 p-1 mt-4 xxl bold" href="{{.Permalink}}">{{.Params.seriesPart}} {{.Title}} </a>
                    {{ partial "featureBetaNotice.html" . }}
                    <div class="content ml-2 p-4"> 
                    {{.Content}}
                    </div>
                </article>
            {{ end }}
        </section>
{{end}}
