
<section class="spread-center">
    <section class="is-two-thirds rounded-6 black p-3 my-6 outlined-white">

            <h2 class="my-3 mx-3 text-center">Ask Pachy</h2>
            <form onsubmit="submitQuestion(event)" class="spread-between my-2 c-mx-1">
                <label class="is-fit py-2 px-3" for="question">Question:</label>
                <input class="rounded-6 py-2 px-3" type="text" id="question" name="question" required>
                <button class="white is-fit py-2 px-3 rounded-6" type="submit">Submit</button>
            </form>
            <div class="spread my-3 mx-2">
                <div id="answer" class="white my-2 rounded-3 p-3 is-hidden"></div>
            </div>
    </section>
</section>






