<style>
    .answers-placement {
        position: absolute;
        bottom: 0rem;
    }
    .ask-placement {
        position: absolute;
        bottom: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<div class="h-full">

    <div class="ask-placement stack">
        <div id="answers" class="white stack c-p-2 h-scroll noscrollbar">
       
        </div>
        <div class="rounded-6 black outlined-white my-2">

            <form onsubmit="submitQuestion(event)" class="spread-between m-3 c-mx-1">
                <input class="rounded-6 py-2 px-3" type="text" id="question" name="question" required>
                <button class="white is-fit py-2 px-3 rounded-6" type="submit">Ask</button>
            </form>
            
    
        </div>
        <button onclick="clearConversation()" class="white is-fit py-2 px-2 my-2 rounded-6">🗑️ Clear</button>
    </div>
</div>






