<style>
    .h-full {
        height: 90vh;
    }
    .bottom-1 {
        position: absolute;
        bottom: 0;
    }
    .bottom-2 {
        position: absolute;
        bottom: 4.5rem;
    }
</style>
<section class="h-full">
    <div id="answers" class="white rounded-3 stack m-3 c-p-2 bottom-2">
       
    </div>
    <div class="spread-center">
        <div class="rounded-6 black outlined-white bottom-1">

            <form onsubmit="submitQuestion2(event)" class="spread-between m-3 c-mx-1">
                <input class="rounded-6 py-2 px-3" type="text" id="question" name="question" required>
                <button class="white is-fit py-2 px-3 rounded-6" type="submit">Ask</button>
            </form>
    
        </div>
    </div>
</section>






