{{/* Displays cards with child page titles, their total count, a description or summary, and optionally quick buttons to the first 7 children. */}}

{{if .Content }}
{{else}}
<h2> Articles in this section:</h2>
{{end}}


{{ if .Site.Params.childPages.display}}
    {{if .Pages }}
        <aside class="spread c-pinned-top">
            {{ range sort .Pages "Weight" "$order"}}
                {{ if  .Params.hidden }}
                    {{/* Do not show the hidden child page or its descendants */}}
                {{else}}
                    <section class="is-one-third is-fullsize-mobile c-mt-1 mt-5">
                            <a href="{{.Permalink}}">
                                <h3 class="m">{{.Title}}</h3>
                            {{if .Description}}
                                <p class="subtitle-1">{{.Description}}</p>
                            {{end}}
                            </a>
                            {{if eq .Params.label "required"}}
                                        <div class="label black">REQUIRED</div>
                                    {{else if eq .Params.label "optional"}}
                                        <div class="label white">OPTIONAL</div>
                                    {{end}}
                            {{ if .Site.Params.childPages.grandchildren}}
                                <div class="spread-left">
                                    {{ range first 7 .Pages }}
                                    <a class="button outlined p-1 mt-1 mr-1 xs is-fit rounded-1" href="{{ .Permalink }}"> {{if .Title}}{{.Title | truncate 30}}{{else}}{{ path.BaseName . | humanize | truncate 30}}{{end}}
                                    </a>
                                    {{ end }}
                                    {{if .Pages}}
                                    <a class="button black darken-1 p-1 mt-1 mr-1 xs is-fit rounded-1" href="{{ .Permalink }}"> View All </a>
                                    {{else}} 
                                    {{end}}
                                </div>
                            {{else}}
                                <div class="label black darken-1"> {{ len (.Pages) }} articles</div>  
                            {{end}}
                    </section>
                {{end}}
            {{end}}
        </aside>
    {{end}}
{{end}}