{{ if .Site.Params.CommunityDetails }}
    <section class="spread black gradient-rl-cold mx-4 mt-3 rounded-4 c-rounded-4 c-my-2 text-center p-1">
        <div class="darken-3 sp-2 is-fullsize-mobile">
            <h2 class="mt-2">Join the Pach!</h2>
            <div class="spread-center c-sp-2">
                <a href="https://github.com/pachyderm"><img class="is-one-fifth pinned-end" src="images/github.svg"></a>
                <a href="https://www.pachyderm.com/slack"> <img class="is-one-fifth pinned-start" src="images/slack.svg"></a>
            </div>
        </div>
        <div class="darken-3 sp-2 is-fullsize-mobile"> 
            <h2 class="mt-2">Updates</h2>
            <p><a href="/knowledge-base/announcements/09-20-2022/"> Pachyderm <strong>{{.Site.Params.releaseInfo.patch}}</strong> is out!</a></p>
        </div>
        <div class="darken-3 sp-2 is-fullsize-mobile"> 
            <h2 class="mt-2">New to Pachyderm?</h2>
            <p><a class="button p-2 white rounded-1 wiggle" href="/{{.Site.Params.releaseInfo.latest}}">Get Started!</a>
            </p>
        </div>
    </section>
{{end}}

