{{- $releases := (where .Site.RegularPages "Section" "==" "changelog").ByDate.Reverse -}}
<style>
  .timeline {
    border-left: 2px solid #454545;
}
  .point {
  margin-left: -.4rem;
  font-size: 3rem;
  line-height: 30%;
}

.release {
  margin: 0 auto;
}



/* Media query for small screens */
@media (max-width: 576px) {
  .tl-sm {
    flex-basis: 5%;
    flex-grow: 0;
  }
}

/* Media query for medium-sized screens */
@media (min-width: 768px) {
  .tl-md {
    flex-basis: 15%;
    flex-grow: 0;
  }
}

/* Media query for large screens */
@media (min-width: 1024px) {
  .tl-lg {
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 1;
  }
}
</style>


<section class="m-6">
  {{- range $release := $releases -}}
  <article class="spread">
    <div  class="tl-lg tl-md tl-sm timeline pb-6 is-hidden-mobile">
      <div class="sticky-5 spread">
      <span class="is-fit point">▶</span> <h2 class="mx-2 pl-3"> {{ $release.Title }}</h2>
      </div>
    </div>
    <div class="stack content">
      <h2 class="text-center pt-6 pb-3 is-hidden-desktop is-hidden-tablet"> {{ $release.Title }}</h2>
      <div class="pt-3">
        {{- $release.Content -}}
      </div>
    </div>
  </article>
  {{- end -}}
</section>

