{{ if .Site.Params.CommunityDetails }}

<section class="spread black darken-1 mx-4 mt-3 rounded-4 c-rounded-4 c-my-4 text-center">
    <div class="darken-3 sp-2 is-fullsize-mobile">
        <h2 class="m">Join the Pach!</h2>
         <div class="spread-center c-sp-1">
            <a href="https://github.com/pachyderm"><img class="is-one-fifth pinned-end" src="images/github.svg"></a>
            <a href="https://www.pachyderm.com/slack"> <img class="is-one-fifth pinned-start" src="images/slack.svg"></a>
         </div>
    </div>
    <div class="darken-3 sp-2 is-fullsize-mobile"> 
        <h2 class="m">News</h2>
        <p><div class="label purple s-1 rounded-1"> Pachyderm 2.3.2</div> is out!</p>
        <p>Check out what's new in this patch release.</p>
    </div>
</section>

{{end}}

