{{ if .Site.Params.breadcrumbs}}
    <nav id="breadcrumbs" class="breadcrumbs content" aria-label="breadcrumbs">
        {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
    </nav>
{{else}}
<div class=""> {{/* Expands to keep featureEditLink on right side if breadcrumbs are disabled  */}}</div>
{{ end }}

{{/*  Template definition for building the breadcrumb levels  */}}
{{ define "breadcrumbnav" }}
  {{ if .p1.Parent }}{{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
  {{ else if not .p1.IsHome }}{{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}{{ end }}
    <div class="breadcrumb">
      <a href="{{ .p1.Permalink }}" class="text-xs">{{ .p1.Title | truncate 15 }}</a>
    </div>
{{ end }}