{{/* https://giscus.app/ -- app must be installed on the github repo; repo must be public*/}}
{{ if .Site.Params.giscus }} 
    <section class="stack brighten-1 sp-1 rounded-1">
        <script src="https://giscus.app/client.js" defer
                data-repo="lbliii/milo"
                data-repo-id="R_kgDOG8VE6Q"
                data-category="General"
                data-category-id="DIC_kwDOG8VE6c4CQfKf"
                data-mapping="pathname"
                data-strict="0"
                data-reactions-enabled="1"
                data-emit-metadata="0"
                data-input-position="top"
                data-theme="dark_dimmed"
                data-lang="en"
                data-loading="lazy"
                crossorigin="anonymous"
                async>
        </script>
    </section>
{{end}}