{{$latest := .Site.GetPage "section" "latest" }}

<section class="pt-5 noscrollbar sticky is-one-fifth directory h-scroll px-3 is-hidden-mobile">
  
{{ template "directory" (dict "dir" $latest.Sections "current" .RelPermalink "parent" .Parent "section" .CurrentSection "level" "1")  }}

{{ define "directory" }}

  <div class="content is-one-fifth">
  {{ range .dir }}
    {{ if  (or (eq .BundleType "branch") (.Params.directory) )}}
        <div class="ml-3 my-2">

            <a class="{{if eq $.level "1" }} m bold {{else if eq $.level "2"}} s normal {{else}}xs thin{{end}}" href="{{ .RelPermalink }}" data-parent="{{.Parent.RelPermalink}}" data-section="{{.CurrentSection.RelPermalink}}"> {{ if eq $.current .RelPermalink }}👉{{else}} {{end}} {{if .Title}}{{.Title}}{{else}}{{ path.BaseName . | humanize }}{{end}}</a>

            {{ template "directory" (dict "dir" .Pages "current" $.current "parent" .Parent "section" $.section "level" "2") }}
        </div>
    {{ else }}
      <div class="c-ml-2  ml-3 {{if (eq $.section.Title .CurrentSection.Title) }}{{else}}closed-folder{{end}}">
        
        <a class="xs thin" href="{{ .RelPermalink }}">{{ if eq $.current .RelPermalink }}👉{{else}} {{end}} {{if .Title}}{{.Title}}{{else}}{{ path.BaseName . | humanize }}{{end}}</a>
        
    </div>
    {{ end }}
  {{ end }}
  </div>
{{ end }}

</section>




{{/*  todo: make logic to display pages with a new param: directory  */}}