
{{ $letters := "abcdefghijklmnopqrstuvwxyz" }}

{{$currentPage := . }}

{{ $pages := $currentPage.Pages }}

{{ range $i, $letter := split $letters "" }}
    <div class="sp-2">
        <h2 id="{{$letter}}"><a href="#{{$letter}}">{{$letter}}</a></h2>

        {{ range $pages }}
            {{$base := path.BaseName . | humanize}}
        
            {{ if eq (substr $base 8 1) $letter }}
            <div class="sp-2">
                <a href="{{.RelPermalink}}">{{if .Title}}{{.Title}}{{else}}{{ path.BaseName . | humanize }}{{end}}</a>
            </div>
            
            {{ end }}
        
        {{ end }}
    </div>
{{ end }}


