  <nav class="spread sticky white level-top py-1">
    <div class="spread-left is-two-fifths ml-2 is-hidden-mobile">
      <a class="mt-2" style="max-width:150px;" href="/">
        <img src="/images/pachLogo.svg" alt="logo">
      </a>
      <div class="button is-fit hefty xs rounded-1"> <b>docs</b></div>
    </div>
    <div class="spread-right mr-2 c-rounded-1">
    {{if .IsHome}}
    {{else}}
      <div class="spread my-2 brighten-1 rounded-6 outlined c-pinned-center max-w-3 ml-2">
        <div class="is-fit s pl-2 is-hidden-mobile">🔍</div>
        <div id="searchbox" class="" style="color:black;"></div>
      </div>
    {{end}}
      {{ partial "featureVersionDropdown.html" . }}
       <button id="darkModeButton" class="black is-fit grayscale mr-2 my-2 p-2" onclick="darkMode()">🌙</button>
      <button class="purple is-fit is-hidden-touch bold my-2 p-2"> Demo</button>
    </div>
 
  
    {{/*  <button class="darken-2 is-fit is-hidden-touch bold my-2 p-2"> Sandbox</button>  */}}
  </nav>