  <nav class="spread sticky white level-top py-1 px-4">
    
    <div class="spread-left is-one-third is-hidden-mobile">
      <a class="mt-2 hefty l" href="/">
        <img src="/images/pachyderm-elephant.svg" style="max-width: 36px;"alt="logo">
         Pachyderm Docs
      </a>
    </div>
    <div class="spread-right is-one-third is-half-tablet is-fullsize-mobile c-rounded-1 c-ml-1 c-my-2">
    {{if .IsHome}}
    <div class="spread rounded-6 outlined c-pinned-center">
      <div class="is-fit xs pl-2 is-hidden-mobile">🔍</div>
      <div id="main-searchbox"></div>
    </div>
    {{else if ne .Layout "search"}}
      <div class="spread rounded-6 outlined c-pinned-center">
        <div class="is-fit xs pl-2 is-hidden-mobile">🔍</div>
        <div id="main-searchbox"></div>
      </div>
      {{ partial "featureVersionDropdown.html" . }}
    {{end}}
  
      <a href="https://www.pachyderm.com/see-pachyderm-in-action-demo/" class="black gradient-rl-cold is-fit is-hidden-touch s semi-bold px-3 py-2 rounded-4"> Demo</a>
      {{if ne .Page.Params.layout "sdk"}}
      <button id="darkModeButton" class="is-fit black grayscale px-3 py-2 rounded-6" onclick="darkMode()">🌙</button>
      {{end}}
    </div>
 
  
    {{/*  <button class="darken-2 is-fit is-hidden-touch bold my-2 p-2"> Sandbox</button>  */}}
  </nav>